body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u1145 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:57px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:20px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(46, 124, 177, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u1147 {
  position:absolute;
  left:150px;
  top:27px;
  width:75px;
  height:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  word-wrap:break-word;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1893px;
}
#u1149 {
  position:absolute;
  left:0px;
  top:57px;
  width:375px;
  height:1893px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:938px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
