body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3245 {
  position:absolute;
  left:166px;
  top:38px;
  width:320px;
  height:569px;
}
#u3246 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 250, 245, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#60BCCD;
}
#u3247 {
  position:absolute;
  left:404px;
  top:247px;
  width:41px;
  height:17px;
  font-size:9px;
  color:#60BCCD;
}
#u3248 {
  position:absolute;
  left:2px;
  top:2px;
  width:37px;
  word-wrap:break-word;
}
#u3249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:17px;
}
#u3249 {
  position:absolute;
  left:390px;
  top:110px;
  width:55px;
  height:17px;
}
#u3250 {
  position:absolute;
  left:2px;
  top:0px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
}
#u3251 {
  position:absolute;
  left:222px;
  top:110px;
  width:56px;
  height:19px;
}
#u3252 {
  position:absolute;
  left:2px;
  top:2px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(251, 250, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u3253 {
  position:absolute;
  left:295px;
  top:111px;
  width:44px;
  height:17px;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u3254 {
  position:absolute;
  left:2px;
  top:1px;
  width:40px;
  word-wrap:break-word;
}
#u3255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u3255 {
  position:absolute;
  left:355px;
  top:111px;
  width:25px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u3256 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3257 {
  position:absolute;
  left:535px;
  top:455px;
  width:311px;
  height:83px;
  font-size:16px;
  text-align:left;
}
#u3258 {
  position:absolute;
  left:2px;
  top:22px;
  width:307px;
  word-wrap:break-word;
}
#u3259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3259 {
  position:absolute;
  left:667px;
  top:24px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u3260 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u3261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u3261 {
  position:absolute;
  left:599px;
  top:43px;
  width:73px;
  height:237px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u3262 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u3263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:235px;
}
#u3263 {
  position:absolute;
  left:673px;
  top:54px;
  width:173px;
  height:235px;
}
#u3264 {
  position:absolute;
  left:2px;
  top:110px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3265 {
  position:absolute;
  left:368px;
  top:128px;
  width:0px;
  height:0px;
}
#u3265_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u3265_seg1 {
  position:absolute;
  left:-4px;
  top:365px;
  width:171px;
  height:8px;
}
#u3265_seg2 {
  position:absolute;
  left:153px;
  top:359px;
  width:21px;
  height:20px;
}
#u3266 {
  position:absolute;
  left:-50px;
  top:260px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:155px;
}
#u3267 {
  position:absolute;
  left:902px;
  top:54px;
  width:138px;
  height:155px;
}
#u3268 {
  position:absolute;
  left:2px;
  top:70px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u3269 {
  position:absolute;
  left:846px;
  top:54px;
  width:73px;
  height:159px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u3270 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u3271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u3271 {
  position:absolute;
  left:951px;
  top:182px;
  width:89px;
  height:12px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u3272 {
  position:absolute;
  left:2px;
  top:-2px;
  width:85px;
  word-wrap:break-word;
}
#u3273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:83px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3273 {
  position:absolute;
  left:535px;
  top:351px;
  width:311px;
  height:83px;
  font-size:16px;
  text-align:left;
}
#u3274 {
  position:absolute;
  left:2px;
  top:32px;
  width:307px;
  word-wrap:break-word;
}
#u3275 {
  position:absolute;
  left:435px;
  top:214px;
  width:0px;
  height:0px;
}
#u3275_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:5px;
  height:8px;
}
#u3275_seg1 {
  position:absolute;
  left:-3px;
  top:-4px;
  width:8px;
  height:184px;
}
#u3275_seg2 {
  position:absolute;
  left:-3px;
  top:172px;
  width:107px;
  height:8px;
}
#u3275_seg3 {
  position:absolute;
  left:96px;
  top:172px;
  width:8px;
  height:6px;
}
#u3275_seg4 {
  position:absolute;
  left:90px;
  top:164px;
  width:20px;
  height:21px;
}
#u3276 {
  position:absolute;
  left:-49px;
  top:130px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
