body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1095px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u480 {
  position:absolute;
  left:582px;
  top:1364px;
  width:1px;
  height:16px;
}
#u481 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u482 {
  position:absolute;
  left:582px;
  top:1587px;
  width:1px;
  height:16px;
}
#u483 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:109px;
}
#u484 {
  position:absolute;
  left:440px;
  top:537px;
  width:559px;
  height:109px;
}
#u485 {
  position:absolute;
  left:2px;
  top:46px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u486 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u487 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 27, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u488 {
  position:absolute;
  left:160px;
  top:31px;
  width:109px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u489 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:246px;
}
#u490 {
  position:absolute;
  left:0px;
  top:63px;
  width:413px;
  height:245px;
}
#u491 {
  position:absolute;
  left:2px;
  top:113px;
  width:409px;
  word-wrap:break-word;
}
#u492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u492 {
  position:absolute;
  left:142px;
  top:318px;
  width:127px;
  height:30px;
}
#u493 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F88848;
}
#u494 {
  position:absolute;
  left:11px;
  top:322px;
  width:84px;
  height:27px;
  font-size:20px;
  color:#F88848;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u496 {
  position:absolute;
  left:0px;
  top:366px;
  width:413px;
  height:117px;
}
#u497 {
  position:absolute;
  left:2px;
  top:50px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:41px;
}
#u498 {
  position:absolute;
  left:-1px;
  top:366px;
  width:413px;
  height:41px;
}
#u499 {
  position:absolute;
  left:2px;
  top:12px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u500 {
  position:absolute;
  left:52px;
  top:426px;
  width:326px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u501 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#31BFCF;
}
#u502 {
  position:absolute;
  left:198px;
  top:699px;
  width:87px;
  height:24px;
  font-size:18px;
  color:#31BFCF;
}
#u503 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u504_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:347px;
}
#u504 {
  position:absolute;
  left:412px;
  top:175px;
  width:684px;
  height:346px;
  text-align:left;
}
#u505 {
  position:absolute;
  left:2px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u506_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u506 {
  position:absolute;
  left:440px;
  top:139px;
  width:152px;
  height:26px;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:10px;
  top:5px;
  width:132px;
  word-wrap:break-word;
}
#u508_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:220px;
}
#u508 {
  position:absolute;
  left:0px;
  top:470px;
  width:412px;
  height:219px;
}
#u509 {
  position:absolute;
  left:2px;
  top:100px;
  width:408px;
  word-wrap:break-word;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:12px;
}
#u510 {
  position:absolute;
  left:0px;
  top:458px;
  width:412px;
  height:12px;
}
#u511 {
  position:absolute;
  left:2px;
  top:-2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
