body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u646 {
  position:absolute;
  left:582px;
  top:1364px;
  width:1px;
  height:16px;
}
#u647 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u648 {
  position:absolute;
  left:582px;
  top:1587px;
  width:1px;
  height:16px;
}
#u649 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:109px;
}
#u650 {
  position:absolute;
  left:440px;
  top:527px;
  width:559px;
  height:109px;
}
#u651 {
  position:absolute;
  left:2px;
  top:46px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u652 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u653 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 27, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u654 {
  position:absolute;
  left:153px;
  top:30px;
  width:125px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u655 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:246px;
}
#u656 {
  position:absolute;
  left:0px;
  top:63px;
  width:413px;
  height:245px;
}
#u657 {
  position:absolute;
  left:2px;
  top:113px;
  width:409px;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:142px;
  top:318px;
  width:127px;
  height:30px;
}
#u659 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F88848;
}
#u660 {
  position:absolute;
  left:11px;
  top:322px;
  width:84px;
  height:27px;
  font-size:20px;
  color:#F88848;
}
#u661 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:0px;
  top:366px;
  width:413px;
  height:117px;
}
#u663 {
  position:absolute;
  left:2px;
  top:50px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:41px;
}
#u664 {
  position:absolute;
  left:-1px;
  top:366px;
  width:413px;
  height:41px;
}
#u665 {
  position:absolute;
  left:2px;
  top:12px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u666 {
  position:absolute;
  left:52px;
  top:426px;
  width:326px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u667 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#31BFCF;
}
#u668 {
  position:absolute;
  left:198px;
  top:699px;
  width:87px;
  height:24px;
  font-size:18px;
  color:#31BFCF;
}
#u669 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:336px;
}
#u670 {
  position:absolute;
  left:440px;
  top:175px;
  width:684px;
  height:335px;
  text-align:left;
}
#u671 {
  position:absolute;
  left:2px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u672 {
  position:absolute;
  left:440px;
  top:139px;
  width:100px;
  height:26px;
  color:#FFFFFF;
}
#u673 {
  position:absolute;
  left:10px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:220px;
}
#u674 {
  position:absolute;
  left:0px;
  top:470px;
  width:412px;
  height:219px;
}
#u675 {
  position:absolute;
  left:2px;
  top:100px;
  width:408px;
  word-wrap:break-word;
}
#u676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:12px;
}
#u676 {
  position:absolute;
  left:0px;
  top:458px;
  width:412px;
  height:12px;
}
#u677 {
  position:absolute;
  left:2px;
  top:-2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
