body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1001px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:682px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:682px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:333px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1071 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1072 {
  position:absolute;
  left:2px;
  top:26px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:20px;
  background:inherit;
  background-color:rgba(46, 128, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1073 {
  position:absolute;
  left:171px;
  top:34px;
  width:87px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:243px;
}
#u1075 {
  position:absolute;
  left:440px;
  top:175px;
  width:561px;
  height:242px;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:2px;
  top:2px;
  width:557px;
  word-wrap:break-word;
}
#u1077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1077 {
  position:absolute;
  left:440px;
  top:139px;
  width:152px;
  height:26px;
  color:#FFFFFF;
}
#u1078 {
  position:absolute;
  left:10px;
  top:5px;
  width:132px;
  word-wrap:break-word;
}
#u1079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F88848;
}
#u1079 {
  position:absolute;
  left:15px;
  top:273px;
  width:87px;
  height:27px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F88848;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  white-space:nowrap;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u1081 {
  position:absolute;
  left:137px;
  top:647px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1083 {
  position:absolute;
  left:8px;
  top:662px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
