body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1219px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73 {
  position:absolute;
  left:335px;
  top:162px;
  width:889px;
  height:480px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u75 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u76 {
  position:absolute;
  left:295px;
  top:0px;
  width:295px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u78 {
  position:absolute;
  left:590px;
  top:0px;
  width:294px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u80 {
  position:absolute;
  left:0px;
  top:30px;
  width:295px;
  height:30px;
}
#u81 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:30px;
}
#u82 {
  position:absolute;
  left:295px;
  top:30px;
  width:295px;
  height:30px;
}
#u83 {
  position:absolute;
  left:2px;
  top:7px;
  width:291px;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:30px;
}
#u84 {
  position:absolute;
  left:590px;
  top:30px;
  width:294px;
  height:30px;
}
#u85 {
  position:absolute;
  left:2px;
  top:7px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u86 {
  position:absolute;
  left:0px;
  top:60px;
  width:295px;
  height:35px;
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u88 {
  position:absolute;
  left:295px;
  top:60px;
  width:295px;
  height:35px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u90 {
  position:absolute;
  left:590px;
  top:60px;
  width:294px;
  height:35px;
}
#u91 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u92 {
  position:absolute;
  left:0px;
  top:95px;
  width:295px;
  height:35px;
}
#u93 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u94 {
  position:absolute;
  left:295px;
  top:95px;
  width:295px;
  height:35px;
}
#u95 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u96 {
  position:absolute;
  left:590px;
  top:95px;
  width:294px;
  height:35px;
}
#u97 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u98 {
  position:absolute;
  left:0px;
  top:130px;
  width:295px;
  height:35px;
}
#u99 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u100 {
  position:absolute;
  left:295px;
  top:130px;
  width:295px;
  height:35px;
}
#u101 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u102 {
  position:absolute;
  left:590px;
  top:130px;
  width:294px;
  height:35px;
}
#u103 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:100px;
}
#u104 {
  position:absolute;
  left:0px;
  top:165px;
  width:295px;
  height:100px;
}
#u105 {
  position:absolute;
  left:2px;
  top:42px;
  width:291px;
  word-wrap:break-word;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:100px;
}
#u106 {
  position:absolute;
  left:295px;
  top:165px;
  width:295px;
  height:100px;
}
#u107 {
  position:absolute;
  left:2px;
  top:42px;
  width:291px;
  word-wrap:break-word;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:100px;
}
#u108 {
  position:absolute;
  left:590px;
  top:165px;
  width:294px;
  height:100px;
}
#u109 {
  position:absolute;
  left:2px;
  top:2px;
  width:290px;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u110 {
  position:absolute;
  left:0px;
  top:265px;
  width:295px;
  height:35px;
}
#u111 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u112 {
  position:absolute;
  left:295px;
  top:265px;
  width:295px;
  height:35px;
}
#u113 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u114 {
  position:absolute;
  left:590px;
  top:265px;
  width:294px;
  height:35px;
}
#u115 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u116 {
  position:absolute;
  left:0px;
  top:300px;
  width:295px;
  height:35px;
}
#u117 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u118 {
  position:absolute;
  left:295px;
  top:300px;
  width:295px;
  height:35px;
}
#u119 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u120 {
  position:absolute;
  left:590px;
  top:300px;
  width:294px;
  height:35px;
}
#u121 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u122 {
  position:absolute;
  left:0px;
  top:335px;
  width:295px;
  height:35px;
}
#u123 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u124 {
  position:absolute;
  left:295px;
  top:335px;
  width:295px;
  height:35px;
}
#u125 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u126 {
  position:absolute;
  left:590px;
  top:335px;
  width:294px;
  height:35px;
}
#u127 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u128 {
  position:absolute;
  left:0px;
  top:370px;
  width:295px;
  height:35px;
}
#u129 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u130 {
  position:absolute;
  left:295px;
  top:370px;
  width:295px;
  height:35px;
}
#u131 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u132 {
  position:absolute;
  left:590px;
  top:370px;
  width:294px;
  height:35px;
}
#u133 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u134 {
  position:absolute;
  left:0px;
  top:405px;
  width:295px;
  height:35px;
}
#u135 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u136 {
  position:absolute;
  left:295px;
  top:405px;
  width:295px;
  height:35px;
}
#u137 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u138 {
  position:absolute;
  left:590px;
  top:405px;
  width:294px;
  height:35px;
}
#u139 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u140 {
  position:absolute;
  left:0px;
  top:440px;
  width:295px;
  height:35px;
}
#u141 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:35px;
}
#u142 {
  position:absolute;
  left:295px;
  top:440px;
  width:295px;
  height:35px;
}
#u143 {
  position:absolute;
  left:2px;
  top:10px;
  width:291px;
  word-wrap:break-word;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:35px;
}
#u144 {
  position:absolute;
  left:590px;
  top:440px;
  width:294px;
  height:35px;
}
#u145 {
  position:absolute;
  left:2px;
  top:10px;
  width:290px;
  visibility:hidden;
  word-wrap:break-word;
}
