body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1477px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u854 {
  position:absolute;
  left:115px;
  top:37px;
  width:980px;
  height:660px;
}
#u855 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:13px;
}
#u856 {
  position:absolute;
  left:250px;
  top:331px;
  width:102px;
  height:13px;
}
#u857 {
  position:absolute;
  left:2px;
  top:-2px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u858 {
  position:absolute;
  left:355px;
  top:331px;
  width:52px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u859 {
  position:absolute;
  left:2px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u860 {
  position:absolute;
  left:461px;
  top:331px;
  width:52px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u861 {
  position:absolute;
  left:2px;
  top:0px;
  width:48px;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:20px;
}
#u862 {
  position:absolute;
  left:566px;
  top:327px;
  width:77px;
  height:20px;
}
#u863 {
  position:absolute;
  left:2px;
  top:2px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:758px;
  height:38px;
}
#u864 {
  position:absolute;
  left:104px;
  top:321px;
  width:758px;
  height:38px;
}
#u865 {
  position:absolute;
  left:2px;
  top:11px;
  width:754px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u866 {
  position:absolute;
  left:1157px;
  top:111px;
  width:320px;
  height:117px;
  font-size:14px;
  text-align:left;
}
#u867 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  word-wrap:break-word;
}
#u868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u868 {
  position:absolute;
  left:1157px;
  top:283px;
  width:320px;
  height:117px;
  font-size:14px;
  text-align:left;
}
#u869 {
  position:absolute;
  left:2px;
  top:50px;
  width:316px;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:1062px;
  top:340px;
  width:0px;
  height:0px;
}
#u870_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u870_seg1 {
  position:absolute;
  left:91px;
  top:-4px;
  width:8px;
  height:6px;
}
#u870_seg2 {
  position:absolute;
  left:85px;
  top:-12px;
  width:20px;
  height:21px;
}
#u871 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:355px;
  top:618px;
  width:173px;
  height:45px;
}
#u873 {
  position:absolute;
  left:2px;
  top:14px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
