body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:272px;
  top:110px;
  width:950px;
  height:237px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u3 {
  position:absolute;
  left:48px;
  top:0px;
  width:95px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u5 {
  position:absolute;
  left:143px;
  top:0px;
  width:158px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u7 {
  position:absolute;
  left:301px;
  top:0px;
  width:307px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u9 {
  position:absolute;
  left:608px;
  top:0px;
  width:181px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u11 {
  position:absolute;
  left:789px;
  top:0px;
  width:156px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:76px;
}
#u13 {
  position:absolute;
  left:0px;
  top:30px;
  width:48px;
  height:76px;
}
#u14 {
  position:absolute;
  left:2px;
  top:30px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:76px;
}
#u15 {
  position:absolute;
  left:48px;
  top:30px;
  width:95px;
  height:76px;
}
#u16 {
  position:absolute;
  left:2px;
  top:30px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:76px;
}
#u17 {
  position:absolute;
  left:143px;
  top:30px;
  width:158px;
  height:76px;
}
#u18 {
  position:absolute;
  left:2px;
  top:30px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:76px;
}
#u19 {
  position:absolute;
  left:301px;
  top:30px;
  width:307px;
  height:76px;
  text-align:left;
}
#u20 {
  position:absolute;
  left:2px;
  top:30px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:76px;
}
#u21 {
  position:absolute;
  left:608px;
  top:30px;
  width:181px;
  height:76px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:76px;
}
#u23 {
  position:absolute;
  left:789px;
  top:30px;
  width:156px;
  height:76px;
}
#u24 {
  position:absolute;
  left:2px;
  top:30px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:36px;
}
#u25 {
  position:absolute;
  left:0px;
  top:106px;
  width:48px;
  height:36px;
}
#u26 {
  position:absolute;
  left:2px;
  top:10px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u27 {
  position:absolute;
  left:48px;
  top:106px;
  width:95px;
  height:36px;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
}
#u29 {
  position:absolute;
  left:143px;
  top:106px;
  width:158px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:36px;
}
#u31 {
  position:absolute;
  left:301px;
  top:106px;
  width:307px;
  height:36px;
  text-align:left;
}
#u32 {
  position:absolute;
  left:2px;
  top:10px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:36px;
}
#u33 {
  position:absolute;
  left:608px;
  top:106px;
  width:181px;
  height:36px;
}
#u34 {
  position:absolute;
  left:2px;
  top:10px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:36px;
}
#u35 {
  position:absolute;
  left:789px;
  top:106px;
  width:156px;
  height:36px;
}
#u36 {
  position:absolute;
  left:2px;
  top:10px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u37 {
  position:absolute;
  left:0px;
  top:142px;
  width:48px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u39 {
  position:absolute;
  left:48px;
  top:142px;
  width:95px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u41 {
  position:absolute;
  left:143px;
  top:142px;
  width:158px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u43 {
  position:absolute;
  left:301px;
  top:142px;
  width:307px;
  height:30px;
  text-align:left;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u45 {
  position:absolute;
  left:608px;
  top:142px;
  width:181px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u47 {
  position:absolute;
  left:789px;
  top:142px;
  width:156px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u49 {
  position:absolute;
  left:0px;
  top:172px;
  width:48px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u51 {
  position:absolute;
  left:48px;
  top:172px;
  width:95px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u53 {
  position:absolute;
  left:143px;
  top:172px;
  width:158px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u55 {
  position:absolute;
  left:301px;
  top:172px;
  width:307px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u57 {
  position:absolute;
  left:608px;
  top:172px;
  width:181px;
  height:30px;
}
#u58 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u59 {
  position:absolute;
  left:789px;
  top:172px;
  width:156px;
  height:30px;
}
#u60 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:30px;
}
#u61 {
  position:absolute;
  left:0px;
  top:202px;
  width:48px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:44px;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u63 {
  position:absolute;
  left:48px;
  top:202px;
  width:95px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:30px;
}
#u65 {
  position:absolute;
  left:143px;
  top:202px;
  width:158px;
  height:30px;
}
#u66 {
  position:absolute;
  left:2px;
  top:7px;
  width:154px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:30px;
}
#u67 {
  position:absolute;
  left:301px;
  top:202px;
  width:307px;
  height:30px;
}
#u68 {
  position:absolute;
  left:2px;
  top:7px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:30px;
}
#u69 {
  position:absolute;
  left:608px;
  top:202px;
  width:181px;
  height:30px;
}
#u70 {
  position:absolute;
  left:2px;
  top:7px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
}
#u71 {
  position:absolute;
  left:789px;
  top:202px;
  width:156px;
  height:30px;
}
#u72 {
  position:absolute;
  left:2px;
  top:7px;
  width:152px;
  visibility:hidden;
  word-wrap:break-word;
}
