body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1670px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:773px;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:773px;
}
#u630 {
  position:absolute;
  left:2px;
  top:378px;
  width:448px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:43px;
}
#u631 {
  position:absolute;
  left:9px;
  top:506px;
  width:409px;
  height:43px;
}
#u632 {
  position:absolute;
  left:2px;
  top:14px;
  width:405px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:27px;
}
#u633 {
  position:absolute;
  left:425px;
  top:514px;
  width:12px;
  height:27px;
}
#u634 {
  position:absolute;
  left:2px;
  top:6px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u635 {
  position:absolute;
  left:480px;
  top:207px;
  width:304px;
  height:57px;
}
#u636 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  word-wrap:break-word;
}
#u637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:167px;
}
#u637 {
  position:absolute;
  left:480px;
  top:284px;
  width:185px;
  height:167px;
}
#u638 {
  position:absolute;
  left:2px;
  top:76px;
  width:181px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:734px;
}
#u639 {
  position:absolute;
  left:806px;
  top:0px;
  width:417px;
  height:734px;
}
#u640 {
  position:absolute;
  left:2px;
  top:359px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641 {
  position:absolute;
  left:331px;
  top:746px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u641_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u641_seg1 {
  position:absolute;
  left:81px;
  top:-40px;
  width:8px;
  height:44px;
}
#u641_seg2 {
  position:absolute;
  left:81px;
  top:-40px;
  width:388px;
  height:8px;
}
#u641_seg3 {
  position:absolute;
  left:461px;
  top:-48px;
  width:8px;
  height:16px;
}
#u641_seg4 {
  position:absolute;
  left:461px;
  top:-48px;
  width:14px;
  height:8px;
}
#u641_seg5 {
  position:absolute;
  left:462px;
  top:-54px;
  width:20px;
  height:20px;
}
#u642 {
  position:absolute;
  left:173px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u643 {
  position:absolute;
  left:436px;
  top:738px;
  width:16px;
  height:15px;
  text-align:left;
}
#u644 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:722px;
}
#u645 {
  position:absolute;
  left:1257px;
  top:0px;
  width:413px;
  height:722px;
}
#u646 {
  position:absolute;
  left:2px;
  top:353px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u647 {
  position:absolute;
  left:447px;
  top:520px;
  width:16px;
  height:15px;
  text-align:left;
}
#u648 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:43px;
}
#u649 {
  position:absolute;
  left:480px;
  top:506px;
  width:264px;
  height:43px;
  text-align:left;
}
#u650 {
  position:absolute;
  left:2px;
  top:6px;
  width:260px;
  word-wrap:break-word;
}
#u651 {
  position:absolute;
  left:463px;
  top:528px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u651_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u651_seg1 {
  position:absolute;
  left:4px;
  top:-10px;
  width:20px;
  height:20px;
}
#u652 {
  position:absolute;
  left:-42px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  height:112px;
}
#u653 {
  position:absolute;
  left:9px;
  top:591px;
  width:437px;
  height:112px;
  font-size:14px;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:437px;
  word-wrap:break-word;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u655 {
  position:absolute;
  left:5px;
  top:723px;
  width:40px;
  height:41px;
}
#u656 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:109px;
}
#u657 {
  position:absolute;
  left:76px;
  top:850px;
  width:559px;
  height:109px;
}
#u658 {
  position:absolute;
  left:2px;
  top:46px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:14px;
}
#u660 {
  position:absolute;
  left:37px;
  top:727px;
  width:15px;
  height:14px;
  text-align:left;
}
#u661 {
  position:absolute;
  left:2px;
  top:-1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:45px;
}
#u662 {
  position:absolute;
  left:76px;
  top:795px;
  width:323px;
  height:45px;
  text-align:left;
}
#u663 {
  position:absolute;
  left:2px;
  top:14px;
  width:319px;
  word-wrap:break-word;
}
#u664 {
  position:absolute;
  left:52px;
  top:734px;
  width:0px;
  height:0px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u664_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:16px;
  height:8px;
}
#u664_seg1 {
  position:absolute;
  left:8px;
  top:-4px;
  width:8px;
  height:92px;
}
#u664_seg2 {
  position:absolute;
  left:8px;
  top:80px;
  width:16px;
  height:8px;
}
#u664_seg3 {
  position:absolute;
  left:11px;
  top:74px;
  width:20px;
  height:20px;
}
#u665 {
  position:absolute;
  left:-38px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
