body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1272px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3712 {
  position:absolute;
  left:98px;
  top:83px;
  width:320px;
  height:569px;
}
#u3713 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:169px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3714 {
  position:absolute;
  left:569px;
  top:59px;
  width:334px;
  height:169px;
  font-size:16px;
  text-align:left;
}
#u3715 {
  position:absolute;
  left:2px;
  top:18px;
  width:330px;
  word-wrap:break-word;
}
#u3716 {
  position:absolute;
  left:420px;
  top:145px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u3716_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u3716_seg1 {
  position:absolute;
  left:135px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3717 {
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u3718 {
  position:absolute;
  left:369px;
  top:104px;
  width:49px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u3719 {
  position:absolute;
  left:2px;
  top:8px;
  width:45px;
  word-wrap:break-word;
}
#u3720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
}
#u3720 {
  position:absolute;
  left:98px;
  top:104px;
  width:246px;
  height:76px;
  font-size:20px;
  color:#FF0000;
}
#u3721 {
  position:absolute;
  left:2px;
  top:26px;
  width:242px;
  word-wrap:break-word;
}
#u3722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u3722 {
  position:absolute;
  left:345px;
  top:143px;
  width:73px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u3723 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u3724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:25px;
}
#u3724 {
  position:absolute;
  left:196px;
  top:149px;
  width:17px;
  height:25px;
}
#u3725 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3726 {
  position:absolute;
  left:569px;
  top:263px;
  width:320px;
  height:569px;
}
#u3727 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3728 {
  position:absolute;
  left:689px;
  top:438px;
  width:89px;
  height:30px;
}
#u3729 {
  position:absolute;
  left:2px;
  top:7px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3730 {
  position:absolute;
  left:938px;
  top:407px;
  width:334px;
  height:92px;
  font-size:16px;
  text-align:left;
}
#u3731 {
  position:absolute;
  left:2px;
  top:36px;
  width:330px;
  word-wrap:break-word;
}
#u3732 {
  position:absolute;
  left:778px;
  top:453px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u3732_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u3732_seg1 {
  position:absolute;
  left:138px;
  top:-4px;
  width:8px;
  height:9px;
}
#u3732_seg2 {
  position:absolute;
  left:138px;
  top:-3px;
  width:22px;
  height:8px;
}
#u3732_seg3 {
  position:absolute;
  left:146px;
  top:-9px;
  width:21px;
  height:20px;
}
#u3733 {
  position:absolute;
  left:30px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
