body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2111px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u139 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u140 {
  position:absolute;
  left:884px;
  top:0px;
  width:375px;
  height:667px;
}
#u141 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u143 {
  position:absolute;
  left:411px;
  top:24px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u144 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:35px;
}
#u145 {
  position:absolute;
  left:411px;
  top:68px;
  width:242px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u146 {
  position:absolute;
  left:2px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:411px;
  top:113px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:60px;
}
#u150 {
  position:absolute;
  left:411px;
  top:157px;
  width:342px;
  height:59px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u151 {
  position:absolute;
  left:2px;
  top:1px;
  width:338px;
  word-wrap:break-word;
}
#u152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:411px;
  top:566px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u153 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:107px;
}
#u154 {
  position:absolute;
  left:411px;
  top:604px;
  width:342px;
  height:106px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u155 {
  position:absolute;
  left:2px;
  top:6px;
  width:338px;
  word-wrap:break-word;
}
#u156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:411px;
  top:721px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:110px;
}
#u158 {
  position:absolute;
  left:411px;
  top:765px;
  width:342px;
  height:109px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u159 {
  position:absolute;
  left:2px;
  top:-2px;
  width:338px;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u161 {
  position:absolute;
  left:411px;
  top:233px;
  width:137px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u162 {
  position:absolute;
  left:10px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:152px;
}
#u163 {
  position:absolute;
  left:411px;
  top:276px;
  width:359px;
  height:151px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u164 {
  position:absolute;
  left:2px;
  top:9px;
  width:355px;
  word-wrap:break-word;
}
#u165 {
  position:absolute;
  left:34px;
  top:34px;
  width:0px;
  height:0px;
}
#u165_seg0 {
  position:absolute;
  left:-4px;
  top:-16px;
  width:8px;
  height:16px;
}
#u165_seg1 {
  position:absolute;
  left:-4px;
  top:-16px;
  width:374px;
  height:8px;
}
#u165_seg2 {
  position:absolute;
  left:362px;
  top:-16px;
  width:8px;
  height:26px;
}
#u165_seg3 {
  position:absolute;
  left:362px;
  top:2px;
  width:15px;
  height:8px;
}
#u165_seg4 {
  position:absolute;
  left:364px;
  top:-4px;
  width:20px;
  height:20px;
}
#u166 {
  position:absolute;
  left:141px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  position:absolute;
  left:274px;
  top:49px;
  width:0px;
  height:0px;
}
#u167_seg0 {
  position:absolute;
  left:-4px;
  top:-25px;
  width:8px;
  height:25px;
}
#u167_seg1 {
  position:absolute;
  left:-4px;
  top:-25px;
  width:121px;
  height:8px;
}
#u167_seg2 {
  position:absolute;
  left:109px;
  top:-25px;
  width:8px;
  height:109px;
}
#u167_seg3 {
  position:absolute;
  left:109px;
  top:76px;
  width:28px;
  height:8px;
}
#u167_seg4 {
  position:absolute;
  left:124px;
  top:70px;
  width:20px;
  height:20px;
}
#u168 {
  position:absolute;
  left:58px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  position:absolute;
  left:320px;
  top:65px;
  width:0px;
  height:0px;
}
#u169_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u169_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:50px;
  height:8px;
}
#u169_seg2 {
  position:absolute;
  left:38px;
  top:6px;
  width:8px;
  height:195px;
}
#u169_seg3 {
  position:absolute;
  left:38px;
  top:193px;
  width:53px;
  height:8px;
}
#u169_seg4 {
  position:absolute;
  left:78px;
  top:187px;
  width:20px;
  height:20px;
}
#u170 {
  position:absolute;
  left:-8px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u171 {
  position:absolute;
  left:23px;
  top:24px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u172 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u173 {
  position:absolute;
  left:265px;
  top:30px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u174 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u175 {
  position:absolute;
  left:311px;
  top:46px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u176 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u178 {
  position:absolute;
  left:411px;
  top:437px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u179 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:76px;
}
#u180 {
  position:absolute;
  left:411px;
  top:481px;
  width:342px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u181 {
  position:absolute;
  left:2px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u182 {
  position:absolute;
  left:350px;
  top:46px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u183 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:368px;
  top:56px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u184_seg1 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:405px;
}
#u184_seg2 {
  position:absolute;
  left:2px;
  top:393px;
  width:41px;
  height:8px;
}
#u184_seg3 {
  position:absolute;
  left:30px;
  top:387px;
  width:20px;
  height:20px;
}
#u185 {
  position:absolute;
  left:-44px;
  top:206px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u186 {
  position:absolute;
  left:311px;
  top:437px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u187 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u188 {
  position:absolute;
  left:319px;
  top:139px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u189 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:337px;
  top:149px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u190_seg1 {
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:441px;
}
#u190_seg2 {
  position:absolute;
  left:13px;
  top:429px;
  width:61px;
  height:8px;
}
#u190_seg3 {
  position:absolute;
  left:61px;
  top:423px;
  width:20px;
  height:20px;
}
#u191 {
  position:absolute;
  left:-33px;
  top:228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:329px;
  top:447px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u192_seg1 {
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:298px;
}
#u192_seg2 {
  position:absolute;
  left:11px;
  top:286px;
  width:71px;
  height:8px;
}
#u192_seg3 {
  position:absolute;
  left:69px;
  top:280px;
  width:20px;
  height:20px;
}
#u193 {
  position:absolute;
  left:-35px;
  top:163px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u195 {
  position:absolute;
  left:1302px;
  top:24px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u196 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:35px;
}
#u197 {
  position:absolute;
  left:1302px;
  top:68px;
  width:242px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u198 {
  position:absolute;
  left:2px;
  top:8px;
  width:238px;
  word-wrap:break-word;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u200 {
  position:absolute;
  left:1302px;
  top:113px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u201 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:60px;
}
#u202 {
  position:absolute;
  left:1302px;
  top:157px;
  width:342px;
  height:59px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u203 {
  position:absolute;
  left:2px;
  top:1px;
  width:338px;
  word-wrap:break-word;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:1302px;
  top:566px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u205 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:107px;
}
#u206 {
  position:absolute;
  left:1302px;
  top:604px;
  width:342px;
  height:106px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u207 {
  position:absolute;
  left:2px;
  top:6px;
  width:338px;
  word-wrap:break-word;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u208 {
  position:absolute;
  left:1302px;
  top:721px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u209 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:158px;
}
#u210 {
  position:absolute;
  left:1302px;
  top:765px;
  width:342px;
  height:157px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u211 {
  position:absolute;
  left:2px;
  top:2px;
  width:338px;
  word-wrap:break-word;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u213 {
  position:absolute;
  left:1302px;
  top:233px;
  width:137px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u214 {
  position:absolute;
  left:10px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:152px;
}
#u215 {
  position:absolute;
  left:1302px;
  top:276px;
  width:359px;
  height:151px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u216 {
  position:absolute;
  left:2px;
  top:9px;
  width:355px;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:925px;
  top:34px;
  width:0px;
  height:0px;
}
#u217_seg0 {
  position:absolute;
  left:-4px;
  top:-16px;
  width:8px;
  height:16px;
}
#u217_seg1 {
  position:absolute;
  left:-4px;
  top:-16px;
  width:374px;
  height:8px;
}
#u217_seg2 {
  position:absolute;
  left:362px;
  top:-16px;
  width:8px;
  height:26px;
}
#u217_seg3 {
  position:absolute;
  left:362px;
  top:2px;
  width:15px;
  height:8px;
}
#u217_seg4 {
  position:absolute;
  left:364px;
  top:-4px;
  width:21px;
  height:20px;
}
#u218 {
  position:absolute;
  left:142px;
  top:-20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:1165px;
  top:49px;
  width:0px;
  height:0px;
}
#u219_seg0 {
  position:absolute;
  left:-4px;
  top:-25px;
  width:8px;
  height:25px;
}
#u219_seg1 {
  position:absolute;
  left:-4px;
  top:-25px;
  width:121px;
  height:8px;
}
#u219_seg2 {
  position:absolute;
  left:109px;
  top:-25px;
  width:8px;
  height:109px;
}
#u219_seg3 {
  position:absolute;
  left:109px;
  top:76px;
  width:28px;
  height:8px;
}
#u219_seg4 {
  position:absolute;
  left:124px;
  top:70px;
  width:21px;
  height:20px;
}
#u220 {
  position:absolute;
  left:59px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  position:absolute;
  left:1211px;
  top:65px;
  width:0px;
  height:0px;
}
#u221_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:14px;
}
#u221_seg1 {
  position:absolute;
  left:-4px;
  top:6px;
  width:50px;
  height:8px;
}
#u221_seg2 {
  position:absolute;
  left:38px;
  top:6px;
  width:8px;
  height:195px;
}
#u221_seg3 {
  position:absolute;
  left:38px;
  top:193px;
  width:53px;
  height:8px;
}
#u221_seg4 {
  position:absolute;
  left:78px;
  top:187px;
  width:21px;
  height:20px;
}
#u222 {
  position:absolute;
  left:-8px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u223 {
  position:absolute;
  left:914px;
  top:24px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u224 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u225 {
  position:absolute;
  left:1156px;
  top:30px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u226 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u227 {
  position:absolute;
  left:1202px;
  top:46px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u230 {
  position:absolute;
  left:1302px;
  top:437px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u231 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:76px;
}
#u232 {
  position:absolute;
  left:1302px;
  top:481px;
  width:342px;
  height:75px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u233 {
  position:absolute;
  left:2px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u234_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u234 {
  position:absolute;
  left:1241px;
  top:46px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u235 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:1259px;
  top:56px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:10px;
  height:8px;
}
#u236_seg1 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  height:405px;
}
#u236_seg2 {
  position:absolute;
  left:2px;
  top:393px;
  width:41px;
  height:8px;
}
#u236_seg3 {
  position:absolute;
  left:30px;
  top:387px;
  width:21px;
  height:20px;
}
#u237 {
  position:absolute;
  left:-44px;
  top:206px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u238 {
  position:absolute;
  left:1202px;
  top:437px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u239 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u240 {
  position:absolute;
  left:1210px;
  top:139px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u241 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242 {
  position:absolute;
  left:1228px;
  top:149px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:21px;
  height:8px;
}
#u242_seg1 {
  position:absolute;
  left:13px;
  top:-4px;
  width:8px;
  height:441px;
}
#u242_seg2 {
  position:absolute;
  left:13px;
  top:429px;
  width:61px;
  height:8px;
}
#u242_seg3 {
  position:absolute;
  left:61px;
  top:423px;
  width:21px;
  height:20px;
}
#u243 {
  position:absolute;
  left:-33px;
  top:228px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:1220px;
  top:447px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:19px;
  height:8px;
}
#u244_seg1 {
  position:absolute;
  left:11px;
  top:-4px;
  width:8px;
  height:298px;
}
#u244_seg2 {
  position:absolute;
  left:11px;
  top:286px;
  width:71px;
  height:8px;
}
#u244_seg3 {
  position:absolute;
  left:69px;
  top:280px;
  width:21px;
  height:20px;
}
#u245 {
  position:absolute;
  left:-35px;
  top:163px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u246 {
  position:absolute;
  left:1736px;
  top:0px;
  width:375px;
  height:667px;
}
#u247 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u248 {
  position:absolute;
  left:1906px;
  top:697px;
  width:36px;
  height:22px;
  font-size:18px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
