body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1861 {
  position:absolute;
  left:589px;
  top:617px;
  width:369px;
  height:96px;
  font-size:14px;
  text-align:left;
}
#u1862 {
  position:absolute;
  left:2px;
  top:16px;
  width:365px;
  word-wrap:break-word;
}
#u1863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:56px;
}
#u1863 {
  position:absolute;
  left:181px;
  top:34px;
  width:320px;
  height:56px;
}
#u1864 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:513px;
}
#u1865 {
  position:absolute;
  left:181px;
  top:130px;
  width:320px;
  height:513px;
}
#u1866 {
  position:absolute;
  left:2px;
  top:248px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
}
#u1867 {
  position:absolute;
  left:290px;
  top:58px;
  width:104px;
  height:20px;
}
#u1868 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1869 {
  position:absolute;
  left:303px;
  top:62px;
  width:103px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u1871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:209px;
}
#u1871 {
  position:absolute;
  left:181px;
  top:223px;
  width:320px;
  height:209px;
}
#u1872 {
  position:absolute;
  left:2px;
  top:96px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1873 {
  position:absolute;
  left:415px;
  top:183px;
  width:57px;
  height:21px;
  color:#868686;
}
#u1874 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u1875 {
  position:absolute;
  left:379px;
  top:230px;
  width:58px;
  height:21px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u1877 {
  position:absolute;
  left:437px;
  top:232px;
  width:60px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:left;
}
#u1878 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u1879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:157px;
}
#u1879 {
  position:absolute;
  left:180px;
  top:267px;
  width:322px;
  height:157px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:70px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1881 {
  position:absolute;
  left:251px;
  top:295px;
  width:210px;
  height:33px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1883 {
  position:absolute;
  left:251px;
  top:295px;
  width:73px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1885 {
  position:absolute;
  left:251px;
  top:312px;
  width:90px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1887 {
  position:absolute;
  left:367px;
  top:312px;
  width:90px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1888 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1889 {
  position:absolute;
  left:251px;
  top:380px;
  width:210px;
  height:33px;
}
#u1890 {
  position:absolute;
  left:2px;
  top:8px;
  width:206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1891 {
  position:absolute;
  left:251px;
  top:380px;
  width:73px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u1893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1893 {
  position:absolute;
  left:251px;
  top:397px;
  width:90px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1895 {
  position:absolute;
  left:367px;
  top:397px;
  width:90px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:10px;
  color:#949494;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#868686;
}
#u1897 {
  position:absolute;
  left:425px;
  top:185px;
  width:65px;
  height:21px;
  color:#868686;
}
#u1898 {
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:119px;
}
#u1899 {
  position:absolute;
  left:181px;
  top:728px;
  width:320px;
  height:119px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u1901 {
  position:absolute;
  left:181px;
  top:803px;
  width:320px;
  height:44px;
}
#u1902 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:181px;
  background:inherit;
  background-color:rgba(255, 204, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1903 {
  position:absolute;
  left:589px;
  top:426px;
  width:369px;
  height:181px;
  font-size:14px;
  text-align:left;
}
#u1904 {
  position:absolute;
  left:2px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u1905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1905 {
  position:absolute;
  left:181px;
  top:90px;
  width:320px;
  height:40px;
}
#u1906 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u1907 {
  position:absolute;
  left:197px;
  top:100px;
  width:111px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:left;
}
#u1908 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u1909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:11px;
}
#u1909 {
  position:absolute;
  left:389px;
  top:105px;
  width:101px;
  height:11px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:-2px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:46px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1911 {
  position:absolute;
  left:589px;
  top:14px;
  width:369px;
  height:46px;
  font-size:14px;
  text-align:left;
}
#u1912 {
  position:absolute;
  left:2px;
  top:15px;
  width:365px;
  word-wrap:break-word;
}
#u1913 {
  position:absolute;
  left:492px;
  top:71px;
  width:0px;
  height:0px;
}
#u1913_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1913_seg1 {
  position:absolute;
  left:45px;
  top:-38px;
  width:8px;
  height:42px;
}
#u1913_seg2 {
  position:absolute;
  left:45px;
  top:-38px;
  width:52px;
  height:8px;
}
#u1913_seg3 {
  position:absolute;
  left:83px;
  top:-44px;
  width:21px;
  height:20px;
}
#u1914 {
  position:absolute;
  left:-1px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1915 {
  position:absolute;
  left:589px;
  top:727px;
  width:369px;
  height:56px;
  font-size:14px;
  text-align:left;
}
#u1916 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:501px;
  top:825px;
  width:0px;
  height:0px;
}
#u1917_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u1917_seg1 {
  position:absolute;
  left:54px;
  top:-72px;
  width:8px;
  height:76px;
}
#u1917_seg2 {
  position:absolute;
  left:54px;
  top:-72px;
  width:38px;
  height:8px;
}
#u1917_seg3 {
  position:absolute;
  left:84px;
  top:-70px;
  width:8px;
  height:6px;
}
#u1917_seg4 {
  position:absolute;
  left:78px;
  top:-77px;
  width:20px;
  height:21px;
}
#u1918 {
  position:absolute;
  left:8px;
  top:-29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:102px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:981px;
  top:704px;
  width:257px;
  height:102px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:43px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:2px;
}
#u1921 {
  position:absolute;
  left:981px;
  top:767px;
  width:257px;
  height:1px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-8px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:40px;
}
#u1923 {
  position:absolute;
  left:1109px;
  top:767px;
  width:1px;
  height:39px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1925 {
  position:absolute;
  left:1012px;
  top:724px;
  width:196px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u1927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#0066FF;
}
#u1927 {
  position:absolute;
  left:1041px;
  top:777px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#0066FF;
}
#u1928 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1929 {
  position:absolute;
  left:1162px;
  top:777px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0066FF;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1931 {
  position:absolute;
  left:589px;
  top:70px;
  width:369px;
  height:35px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u1932 {
  position:absolute;
  left:2px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u1933 {
  position:absolute;
  left:490px;
  top:196px;
  width:0px;
  height:0px;
}
#u1933_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:50px;
  height:8px;
}
#u1933_seg1 {
  position:absolute;
  left:42px;
  top:-112px;
  width:8px;
  height:116px;
}
#u1933_seg2 {
  position:absolute;
  left:42px;
  top:-112px;
  width:57px;
  height:8px;
}
#u1933_seg3 {
  position:absolute;
  left:85px;
  top:-118px;
  width:21px;
  height:20px;
}
#u1934 {
  position:absolute;
  left:-4px;
  top:-66px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1935 {
  position:absolute;
  left:501px;
  top:587px;
  width:0px;
  height:0px;
}
#u1935_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1935_seg1 {
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:86px;
}
#u1935_seg2 {
  position:absolute;
  left:65px;
  top:74px;
  width:23px;
  height:8px;
}
#u1935_seg3 {
  position:absolute;
  left:74px;
  top:68px;
  width:21px;
  height:20px;
}
#u1936 {
  position:absolute;
  left:19px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1937 {
  position:absolute;
  left:589px;
  top:115px;
  width:369px;
  height:40px;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u1938 {
  position:absolute;
  left:2px;
  top:12px;
  width:365px;
  word-wrap:break-word;
}
#u1939 {
  position:absolute;
  left:483px;
  top:346px;
  width:0px;
  height:0px;
}
#u1939_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1939_seg1 {
  position:absolute;
  left:78px;
  top:-215px;
  width:8px;
  height:219px;
}
#u1939_seg2 {
  position:absolute;
  left:78px;
  top:-215px;
  width:28px;
  height:8px;
}
#u1939_seg3 {
  position:absolute;
  left:92px;
  top:-221px;
  width:21px;
  height:20px;
}
#u1940 {
  position:absolute;
  left:32px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:144px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1941 {
  position:absolute;
  left:589px;
  top:165px;
  width:369px;
  height:144px;
  font-size:14px;
  text-align:left;
}
#u1942 {
  position:absolute;
  left:2px;
  top:8px;
  width:365px;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:39px;
}
#u1943 {
  position:absolute;
  left:181px;
  top:567px;
  width:320px;
  height:39px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u1945 {
  position:absolute;
  left:181px;
  top:533px;
  width:320px;
  height:35px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u1947 {
  position:absolute;
  left:181px;
  top:498px;
  width:320px;
  height:35px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1949 {
  position:absolute;
  left:190px;
  top:578px;
  width:304px;
  height:19px;
  text-align:left;
}
#u1950 {
  position:absolute;
  left:2px;
  top:2px;
  width:300px;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1951 {
  position:absolute;
  left:181px;
  top:607px;
  width:320px;
  height:89px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:36px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:189px;
  top:578px;
  width:58px;
  height:19px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:right;
}
#u1955 {
  position:absolute;
  left:436px;
  top:578px;
  width:58px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:right;
}
#u1956 {
  position:absolute;
  left:2px;
  top:1px;
  width:54px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:right;
}
#u1957 {
  position:absolute;
  left:434px;
  top:541px;
  width:60px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#A1A1A1;
  text-align:right;
}
#u1958 {
  position:absolute;
  left:2px;
  top:1px;
  width:56px;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:85px;
}
#u1959 {
  position:absolute;
  left:181px;
  top:643px;
  width:320px;
  height:85px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
  background:inherit;
  background-color:rgba(96, 188, 205, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1961 {
  position:absolute;
  left:396px;
  top:814px;
  width:50px;
  height:23px;
  font-size:12px;
  color:#FFFFFF;
}
#u1962 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#60BCCD;
}
#u1963 {
  position:absolute;
  left:240px;
  top:814px;
  width:53px;
  height:23px;
  font-size:12px;
  color:#60BCCD;
}
#u1964 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u1965 {
  position:absolute;
  left:444px;
  top:617px;
  width:50px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:12px;
  color:#868686;
  text-align:left;
}
#u1966 {
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1967 {
  position:absolute;
  left:188px;
  top:617px;
  width:58px;
  height:19px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:2px;
  width:54px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u1969 {
  position:absolute;
  left:240px;
  top:814px;
  width:50px;
  height:23px;
  font-size:12px;
  color:#FF0000;
}
#u1970 {
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1971 {
  position:absolute;
  left:183px;
  top:567px;
  width:318px;
  height:1px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1973 {
  position:absolute;
  left:183px;
  top:606px;
  width:318px;
  height:1px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1975 {
  position:absolute;
  left:181px;
  top:597px;
  width:320px;
  height:23px;
}
#u1976 {
  position:absolute;
  left:2px;
  top:4px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#60BCCD;
}
#u1977 {
  position:absolute;
  left:257px;
  top:578px;
  width:72px;
  height:19px;
  font-size:10px;
  color:#60BCCD;
}
#u1978 {
  position:absolute;
  left:2px;
  top:3px;
  width:68px;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1979 {
  position:absolute;
  left:181px;
  top:604px;
  width:320px;
  height:1px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:10px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1981 {
  position:absolute;
  left:181px;
  top:485px;
  width:320px;
  height:10px;
}
#u1982 {
  position:absolute;
  left:2px;
  top:-3px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u1983 {
  position:absolute;
  left:589px;
  top:326px;
  width:369px;
  height:90px;
  font-size:14px;
  text-align:left;
}
#u1984 {
  position:absolute;
  left:2px;
  top:21px;
  width:365px;
  word-wrap:break-word;
}
