body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u941 {
  position:absolute;
  left:582px;
  top:1364px;
  width:1px;
  height:16px;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u943 {
  position:absolute;
  left:582px;
  top:1587px;
  width:1px;
  height:16px;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u946 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 27, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u947 {
  position:absolute;
  left:153px;
  top:30px;
  width:125px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u948 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:246px;
}
#u949 {
  position:absolute;
  left:0px;
  top:63px;
  width:413px;
  height:245px;
}
#u950 {
  position:absolute;
  left:2px;
  top:113px;
  width:409px;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  position:absolute;
  left:142px;
  top:318px;
  width:127px;
  height:30px;
}
#u952 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F88848;
}
#u953 {
  position:absolute;
  left:11px;
  top:322px;
  width:84px;
  height:27px;
  font-size:20px;
  color:#F88848;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u955 {
  position:absolute;
  left:0px;
  top:366px;
  width:413px;
  height:117px;
}
#u956 {
  position:absolute;
  left:2px;
  top:50px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:41px;
}
#u957 {
  position:absolute;
  left:0px;
  top:398px;
  width:413px;
  height:41px;
}
#u958 {
  position:absolute;
  left:2px;
  top:12px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u959 {
  position:absolute;
  left:52px;
  top:440px;
  width:326px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#31BFCF;
}
#u961 {
  position:absolute;
  left:198px;
  top:699px;
  width:87px;
  height:24px;
  font-size:18px;
  color:#31BFCF;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:507px;
}
#u963 {
  position:absolute;
  left:440px;
  top:175px;
  width:684px;
  height:506px;
  text-align:left;
}
#u964 {
  position:absolute;
  left:2px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:440px;
  top:139px;
  width:100px;
  height:26px;
  color:#FFFFFF;
}
#u966 {
  position:absolute;
  left:10px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:214px;
}
#u967 {
  position:absolute;
  left:0px;
  top:476px;
  width:412px;
  height:213px;
}
#u968 {
  position:absolute;
  left:2px;
  top:97px;
  width:408px;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:12px;
}
#u969 {
  position:absolute;
  left:0px;
  top:464px;
  width:412px;
  height:12px;
}
#u970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u971 {
  position:absolute;
  left:13px;
  top:368px;
  width:57px;
  height:20px;
  color:#666666;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
}
#u973 {
  position:absolute;
  left:94px;
  top:366px;
  width:91px;
  height:26px;
  color:#31BFCF;
}
#u974 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u975 {
  position:absolute;
  left:204px;
  top:366px;
  width:91px;
  height:26px;
  color:#666666;
}
#u976 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u977 {
  position:absolute;
  left:138px;
  top:699px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u979 {
  position:absolute;
  left:4px;
  top:715px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u980 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
