body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1124px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u608_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u608 {
  position:absolute;
  left:582px;
  top:1364px;
  width:1px;
  height:16px;
}
#u609 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u610_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u610 {
  position:absolute;
  left:582px;
  top:1587px;
  width:1px;
  height:16px;
}
#u611 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u612_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:109px;
}
#u612 {
  position:absolute;
  left:440px;
  top:527px;
  width:559px;
  height:109px;
}
#u613 {
  position:absolute;
  left:2px;
  top:46px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u614 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u615 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 27, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u616 {
  position:absolute;
  left:153px;
  top:30px;
  width:125px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u617 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:246px;
}
#u618 {
  position:absolute;
  left:0px;
  top:63px;
  width:413px;
  height:245px;
}
#u619 {
  position:absolute;
  left:2px;
  top:113px;
  width:409px;
  word-wrap:break-word;
}
#u620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u620 {
  position:absolute;
  left:142px;
  top:318px;
  width:127px;
  height:30px;
}
#u621 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F88848;
}
#u622 {
  position:absolute;
  left:11px;
  top:322px;
  width:84px;
  height:27px;
  font-size:20px;
  color:#F88848;
}
#u623 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:117px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u624 {
  position:absolute;
  left:0px;
  top:366px;
  width:413px;
  height:117px;
}
#u625 {
  position:absolute;
  left:2px;
  top:50px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:41px;
}
#u626 {
  position:absolute;
  left:0px;
  top:398px;
  width:413px;
  height:41px;
}
#u627 {
  position:absolute;
  left:2px;
  top:12px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u628 {
  position:absolute;
  left:52px;
  top:440px;
  width:326px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u629 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#31BFCF;
}
#u630 {
  position:absolute;
  left:198px;
  top:699px;
  width:87px;
  height:24px;
  font-size:18px;
  color:#31BFCF;
}
#u631 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:336px;
}
#u632 {
  position:absolute;
  left:440px;
  top:175px;
  width:684px;
  height:335px;
  text-align:left;
}
#u633 {
  position:absolute;
  left:2px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u634 {
  position:absolute;
  left:440px;
  top:139px;
  width:100px;
  height:26px;
  color:#FFFFFF;
}
#u635 {
  position:absolute;
  left:10px;
  top:5px;
  width:80px;
  word-wrap:break-word;
}
#u636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:214px;
}
#u636 {
  position:absolute;
  left:0px;
  top:476px;
  width:412px;
  height:213px;
}
#u637 {
  position:absolute;
  left:2px;
  top:97px;
  width:408px;
  word-wrap:break-word;
}
#u638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:12px;
}
#u638 {
  position:absolute;
  left:0px;
  top:464px;
  width:412px;
  height:12px;
}
#u639 {
  position:absolute;
  left:2px;
  top:-2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u640 {
  position:absolute;
  left:13px;
  top:368px;
  width:57px;
  height:20px;
  color:#666666;
}
#u641 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(49, 191, 207, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
}
#u642 {
  position:absolute;
  left:94px;
  top:366px;
  width:91px;
  height:26px;
  color:#31BFCF;
}
#u643 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u644 {
  position:absolute;
  left:204px;
  top:366px;
  width:91px;
  height:26px;
  color:#666666;
}
#u645 {
  position:absolute;
  left:2px;
  top:5px;
  width:87px;
  word-wrap:break-word;
}
