body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1415px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u3614 {
  position:absolute;
  left:35px;
  top:78px;
  width:980px;
  height:660px;
}
#u3615 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3616 {
  position:absolute;
  left:163px;
  top:299px;
  width:15px;
  height:15px;
}
#u3617 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u3618 {
  position:absolute;
  left:611px;
  top:299px;
  width:15px;
  height:15px;
}
#u3619 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3620 {
  position:absolute;
  left:76px;
  top:287px;
  width:566px;
  height:40px;
}
#u3621 {
  position:absolute;
  left:2px;
  top:12px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:73px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3622 {
  position:absolute;
  left:1095px;
  top:307px;
  width:320px;
  height:73px;
  font-size:16px;
  text-align:left;
}
#u3623 {
  position:absolute;
  left:2px;
  top:8px;
  width:316px;
  word-wrap:break-word;
}
#u3624 {
  position:absolute;
  left:642px;
  top:307px;
  width:0px;
  height:0px;
}
#u3624_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u3624_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:45px;
}
#u3624_seg2 {
  position:absolute;
  left:6px;
  top:33px;
  width:447px;
  height:8px;
}
#u3624_seg3 {
  position:absolute;
  left:439px;
  top:27px;
  width:21px;
  height:20px;
}
#u3625 {
  position:absolute;
  left:158px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
