body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:3164px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1490 {
  position:absolute;
  left:798px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1491 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1492 {
  position:absolute;
  left:1596px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1493 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1494 {
  position:absolute;
  left:2414px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1373px;
}
#u1497 {
  position:absolute;
  left:2px;
  top:678px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
