body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3798 {
  position:absolute;
  left:1080px;
  top:107px;
  width:320px;
  height:569px;
}
#u3799 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3800 {
  position:absolute;
  left:43px;
  top:107px;
  width:320px;
  height:569px;
}
#u3801 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u3802 {
  position:absolute;
  left:132px;
  top:412px;
  width:143px;
  height:22px;
}
#u3803 {
  position:absolute;
  left:2px;
  top:3px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3804 {
  position:absolute;
  left:143px;
  top:362px;
  width:120px;
  height:27px;
  font-size:12px;
  color:#FFFFFF;
}
#u3805 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u3806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3806 {
  position:absolute;
  left:395px;
  top:107px;
  width:320px;
  height:569px;
}
#u3807 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u3808 {
  position:absolute;
  left:484px;
  top:405px;
  width:143px;
  height:22px;
}
#u3809 {
  position:absolute;
  left:2px;
  top:3px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(96, 188, 205, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3810 {
  position:absolute;
  left:496px;
  top:362px;
  width:120px;
  height:27px;
  font-size:12px;
  color:#FFFFFF;
}
#u3811 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:514px;
}
#u3812 {
  position:absolute;
  left:1080px;
  top:162px;
  width:320px;
  height:514px;
}
#u3813 {
  position:absolute;
  left:2px;
  top:249px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3814 {
  position:absolute;
  left:1136px;
  top:201px;
  width:195px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3815 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u3816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:192px;
}
#u3816 {
  position:absolute;
  left:1136px;
  top:242px;
  width:195px;
  height:192px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:88px;
  width:191px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:37px;
}
#u3818 {
  position:absolute;
  left:1148px;
  top:573px;
  width:172px;
  height:37px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3820 {
  position:absolute;
  left:30px;
  top:712px;
  width:333px;
  height:125px;
  font-size:16px;
  text-align:left;
}
#u3821 {
  position:absolute;
  left:2px;
  top:6px;
  width:329px;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#60BCCD;
}
#u3822 {
  position:absolute;
  left:1187px;
  top:582px;
  width:104px;
  height:19px;
  font-size:14px;
  color:#60BCCD;
}
#u3823 {
  position:absolute;
  left:2px;
  top:2px;
  width:100px;
  word-wrap:break-word;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:38px;
}
#u3824 {
  position:absolute;
  left:81px;
  top:506px;
  width:244px;
  height:38px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:11px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:37px;
}
#u3826 {
  position:absolute;
  left:81px;
  top:399px;
  width:246px;
  height:37px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
}
#u3828 {
  position:absolute;
  left:81px;
  top:436px;
  width:249px;
  height:33px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(77, 145, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3830 {
  position:absolute;
  left:111px;
  top:410px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3831 {
  position:absolute;
  left:2px;
  top:0px;
  width:107px;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u3832 {
  position:absolute;
  left:87px;
  top:410px;
  width:16px;
  height:15px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u3834 {
  position:absolute;
  left:482px;
  top:412px;
  width:143px;
  height:22px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:3px;
  width:139px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:38px;
}
#u3836 {
  position:absolute;
  left:431px;
  top:506px;
  width:244px;
  height:38px;
}
#u3837 {
  position:absolute;
  left:2px;
  top:11px;
  width:240px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:37px;
}
#u3838 {
  position:absolute;
  left:431px;
  top:399px;
  width:246px;
  height:37px;
}
#u3839 {
  position:absolute;
  left:2px;
  top:10px;
  width:242px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:33px;
}
#u3840 {
  position:absolute;
  left:431px;
  top:436px;
  width:249px;
  height:33px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:14px;
  background:inherit;
  background-color:rgba(77, 145, 185, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3842 {
  position:absolute;
  left:461px;
  top:410px;
  width:111px;
  height:14px;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u3843 {
  position:absolute;
  left:2px;
  top:-1px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u3844 {
  position:absolute;
  left:437px;
  top:410px;
  width:16px;
  height:15px;
}
#u3845 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3846 {
  position:absolute;
  left:132px;
  top:847px;
  width:129px;
  height:33px;
}
#u3847 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:33px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3848 {
  position:absolute;
  left:132px;
  top:890px;
  width:129px;
  height:33px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:8px;
  width:125px;
  word-wrap:break-word;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3850 {
  position:absolute;
  left:464px;
  top:414px;
  width:8px;
  height:8px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3852 {
  position:absolute;
  left:472px;
  top:414px;
  width:8px;
  height:8px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3854 {
  position:absolute;
  left:480px;
  top:414px;
  width:8px;
  height:8px;
}
#u3855 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3856 {
  position:absolute;
  left:488px;
  top:414px;
  width:8px;
  height:8px;
}
#u3857 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3858 {
  position:absolute;
  left:496px;
  top:414px;
  width:8px;
  height:8px;
}
#u3859 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3860 {
  position:absolute;
  left:504px;
  top:414px;
  width:8px;
  height:8px;
}
#u3861 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3862 {
  position:absolute;
  left:512px;
  top:414px;
  width:8px;
  height:8px;
}
#u3863 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:8px;
}
#u3864 {
  position:absolute;
  left:520px;
  top:414px;
  width:8px;
  height:8px;
}
#u3865 {
  position:absolute;
  left:2px;
  top:-4px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3866 {
  position:absolute;
  left:1450px;
  top:712px;
  width:320px;
  height:125px;
  font-size:14px;
  text-align:left;
}
#u3867 {
  position:absolute;
  left:2px;
  top:46px;
  width:316px;
  word-wrap:break-word;
}
#u3868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
}
#u3868 {
  position:absolute;
  left:1080px;
  top:712px;
  width:320px;
  height:125px;
  font-size:16px;
}
#u3869 {
  position:absolute;
  left:2px;
  top:53px;
  width:316px;
  word-wrap:break-word;
}
#u3870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u3870 {
  position:absolute;
  left:1450px;
  top:107px;
  width:320px;
  height:568px;
}
#u3871 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:125px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u3872 {
  position:absolute;
  left:728px;
  top:712px;
  width:333px;
  height:125px;
  font-size:16px;
  text-align:left;
}
#u3873 {
  position:absolute;
  left:2px;
  top:34px;
  width:329px;
  word-wrap:break-word;
}
#u3874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3874 {
  position:absolute;
  left:735px;
  top:107px;
  width:320px;
  height:569px;
}
#u3875 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:27px;
  background:inherit;
  background-color:rgba(96, 188, 205, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3876 {
  position:absolute;
  left:836px;
  top:362px;
  width:120px;
  height:27px;
  font-size:12px;
  color:#FFFFFF;
}
#u3877 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
