body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1508px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:155px;
}
#u2683 {
  position:absolute;
  left:1108px;
  top:114px;
  width:138px;
  height:155px;
}
#u2684 {
  position:absolute;
  left:2px;
  top:70px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2685_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:159px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u2685 {
  position:absolute;
  left:1052px;
  top:114px;
  width:73px;
  height:159px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u2686 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u2687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u2687 {
  position:absolute;
  left:1157px;
  top:242px;
  width:89px;
  height:12px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u2688 {
  position:absolute;
  left:2px;
  top:-2px;
  width:85px;
  word-wrap:break-word;
}
#u2689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:118px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:16px;
  text-align:left;
}
#u2689 {
  position:absolute;
  left:1117px;
  top:494px;
  width:391px;
  height:118px;
  font-size:16px;
  text-align:left;
}
#u2690 {
  position:absolute;
  left:2px;
  top:40px;
  width:387px;
  word-wrap:break-word;
}
#u2691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2691 {
  position:absolute;
  left:1314px;
  top:81px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2692 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u2693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u2693 {
  position:absolute;
  left:1246px;
  top:100px;
  width:73px;
  height:237px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  text-align:right;
}
#u2694 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u2695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:235px;
}
#u2695 {
  position:absolute;
  left:1320px;
  top:111px;
  width:173px;
  height:235px;
}
#u2696 {
  position:absolute;
  left:2px;
  top:110px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u2697 {
  position:absolute;
  left:51px;
  top:103px;
  width:980px;
  height:660px;
}
#u2698 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2699 {
  position:absolute;
  left:122px;
  top:373px;
  width:49px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u2700 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:47px;
}
#u2701 {
  position:absolute;
  left:122px;
  top:316px;
  width:49px;
  height:47px;
}
#u2702 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u2703 {
  position:absolute;
  left:325px;
  top:495px;
  width:53px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u2704 {
  position:absolute;
  left:2px;
  top:0px;
  width:49px;
  word-wrap:break-word;
}
#u2705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u2705 {
  position:absolute;
  left:419px;
  top:495px;
  width:64px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u2706 {
  position:absolute;
  left:2px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u2707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:102px;
}
#u2707 {
  position:absolute;
  left:207px;
  top:540px;
  width:407px;
  height:102px;
}
#u2708 {
  position:absolute;
  left:2px;
  top:43px;
  width:403px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:29px;
}
#u2709 {
  position:absolute;
  left:806px;
  top:158px;
  width:186px;
  height:29px;
}
#u2710 {
  position:absolute;
  left:2px;
  top:6px;
  width:182px;
  visibility:hidden;
  word-wrap:break-word;
}
