body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u810 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u811 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u813 {
  position:absolute;
  left:414px;
  top:8px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u814 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:27px;
}
#u815 {
  position:absolute;
  left:414px;
  top:52px;
  width:359px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u816 {
  position:absolute;
  left:2px;
  top:4px;
  width:355px;
  word-wrap:break-word;
}
#u817_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u817 {
  position:absolute;
  left:24px;
  top:14px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u818 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u819 {
  position:absolute;
  left:42px;
  top:24px;
  width:0px;
  height:0px;
}
#u819_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:376px;
  height:8px;
}
#u819_seg1 {
  position:absolute;
  left:359px;
  top:-10px;
  width:20px;
  height:20px;
}
#u820 {
  position:absolute;
  left:136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u822 {
  position:absolute;
  left:414px;
  top:93px;
  width:137px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u823 {
  position:absolute;
  left:10px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:141px;
}
#u824 {
  position:absolute;
  left:414px;
  top:138px;
  width:359px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u825 {
  position:absolute;
  left:2px;
  top:4px;
  width:355px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u826 {
  position:absolute;
  left:160px;
  top:66px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u827 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:178px;
  top:76px;
  width:0px;
  height:0px;
}
#u828_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:226px;
  height:8px;
}
#u828_seg1 {
  position:absolute;
  left:218px;
  top:-4px;
  width:8px;
  height:44px;
}
#u828_seg2 {
  position:absolute;
  left:218px;
  top:32px;
  width:18px;
  height:8px;
}
#u828_seg3 {
  position:absolute;
  left:223px;
  top:26px;
  width:20px;
  height:20px;
}
#u829 {
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u831 {
  position:absolute;
  left:414px;
  top:288px;
  width:61px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u832 {
  position:absolute;
  left:10px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:85px;
}
#u833 {
  position:absolute;
  left:414px;
  top:334px;
  width:359px;
  height:84px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u834 {
  position:absolute;
  left:2px;
  top:4px;
  width:355px;
  word-wrap:break-word;
}
#u835_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u835 {
  position:absolute;
  left:179px;
  top:126px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u836 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837 {
  position:absolute;
  left:197px;
  top:136px;
  width:0px;
  height:0px;
}
#u837_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:207px;
  height:8px;
}
#u837_seg1 {
  position:absolute;
  left:199px;
  top:-4px;
  width:8px;
  height:178px;
}
#u837_seg2 {
  position:absolute;
  left:199px;
  top:166px;
  width:18px;
  height:8px;
}
#u837_seg3 {
  position:absolute;
  left:204px;
  top:160px;
  width:20px;
  height:20px;
}
#u838 {
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u839 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u840 {
  position:absolute;
  left:414px;
  top:433px;
  width:137px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u841 {
  position:absolute;
  left:10px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
}
#u842 {
  position:absolute;
  left:414px;
  top:476px;
  width:359px;
  height:168px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u843 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u844 {
  position:absolute;
  left:179px;
  top:223px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u845 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:197px;
  top:233px;
  width:0px;
  height:0px;
}
#u846_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u846_seg1 {
  position:absolute;
  left:189px;
  top:-4px;
  width:8px;
  height:226px;
}
#u846_seg2 {
  position:absolute;
  left:189px;
  top:214px;
  width:28px;
  height:8px;
}
#u846_seg3 {
  position:absolute;
  left:204px;
  top:208px;
  width:20px;
  height:20px;
}
#u847 {
  position:absolute;
  left:143px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u848 {
  position:absolute;
  left:840px;
  top:0px;
  width:375px;
  height:667px;
}
#u849 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:359px;
  background:inherit;
  background-color:rgba(253, 253, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u850 {
  position:absolute;
  left:840px;
  top:59px;
  width:375px;
  height:359px;
}
#u851 {
  position:absolute;
  left:2px;
  top:172px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u852 {
  position:absolute;
  left:56px;
  top:71px;
  width:54px;
  height:10px;
  font-size:10px;
  color:#999999;
}
#u853 {
  position:absolute;
  left:2px;
  top:-2px;
  width:50px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u854 {
  position:absolute;
  left:1274px;
  top:0px;
  width:375px;
  height:667px;
}
#u855 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u856 {
  position:absolute;
  left:1445px;
  top:699px;
  width:36px;
  height:22px;
  font-size:18px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
