body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1468px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u3377 {
  position:absolute;
  left:111px;
  top:39px;
  width:980px;
  height:660px;
}
#u3378 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:25px;
}
#u3379 {
  position:absolute;
  left:486px;
  top:302px;
  width:316px;
  height:25px;
}
#u3380 {
  position:absolute;
  left:2px;
  top:4px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:102px;
}
#u3381 {
  position:absolute;
  left:376px;
  top:199px;
  width:548px;
  height:102px;
}
#u3382 {
  position:absolute;
  left:2px;
  top:43px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:71px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3383 {
  position:absolute;
  left:1148px;
  top:279px;
  width:320px;
  height:71px;
  font-size:14px;
  text-align:left;
}
#u3384 {
  position:absolute;
  left:2px;
  top:20px;
  width:316px;
  word-wrap:break-word;
}
#u3385 {
  position:absolute;
  left:809px;
  top:315px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u3385_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:343px;
  height:8px;
}
#u3385_seg1 {
  position:absolute;
  left:325px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3386 {
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3387 {
  position:absolute;
  left:486px;
  top:302px;
  width:323px;
  height:25px;
}
#u3388 {
  position:absolute;
  left:2px;
  top:4px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
