body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6648 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:660px;
  background:inherit;
  background-color:rgba(215, 215, 215, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6649 {
  position:absolute;
  left:551px;
  top:28px;
  width:340px;
  height:660px;
}
#u6650 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6651 {
  position:absolute;
  left:551px;
  top:493px;
  width:341px;
  height:195px;
}
#u6652 {
  position:absolute;
  left:2px;
  top:90px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6653 {
  position:absolute;
  left:569px;
  top:541px;
  width:156px;
  height:20px;
}
#u6654 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u6655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6655 {
  position:absolute;
  left:569px;
  top:569px;
  width:71px;
  height:20px;
}
#u6656 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6657 {
  position:absolute;
  left:569px;
  top:507px;
  width:169px;
  height:20px;
}
#u6658 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u6659 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u6660 {
  position:absolute;
  left:838px;
  top:580px;
  width:8px;
  height:6px;
  font-size:12px;
}
#u6661 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6662 {
  position:absolute;
  left:832px;
  top:572px;
  width:20px;
  height:23px;
  font-size:12px;
}
#u6663 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u6665 {
  position:absolute;
  left:838px;
  top:547px;
  width:8px;
  height:6px;
  font-size:12px;
}
#u6666 {
  position:absolute;
  left:2px;
  top:-5px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6667 {
  position:absolute;
  left:832px;
  top:539px;
  width:20px;
  height:23px;
  font-size:12px;
}
#u6668 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6670 {
  position:absolute;
  left:549px;
  top:28px;
  width:340px;
  height:660px;
  opacity:0.5;
}
#u6671 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:14px;
}
#u6672 {
  position:absolute;
  left:552px;
  top:40px;
  width:340px;
  height:14px;
}
#u6673 {
  position:absolute;
  left:2px;
  top:-1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u6674 {
  position:absolute;
  left:695px;
  top:89px;
  width:50px;
  height:20px;
  color:#F2F2F2;
}
#u6675 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u6676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6676 {
  position:absolute;
  left:552px;
  top:69px;
  width:340px;
  height:36px;
}
#u6677 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u6678 {
  position:absolute;
  left:566px;
  top:77px;
  width:11px;
  height:20px;
}
#u6679 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6680 {
  position:absolute;
  left:670px;
  top:79px;
  width:81px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6681 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u6682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6682 {
  position:absolute;
  left:591px;
  top:284px;
  width:110px;
  height:32px;
}
#u6682_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6682.mouseDown {
}
#u6683 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u6684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6684 {
  position:absolute;
  left:721px;
  top:284px;
  width:110px;
  height:32px;
}
#u6684_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6684.mouseDown {
}
#u6685 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u6686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6686 {
  position:absolute;
  left:591px;
  top:326px;
  width:110px;
  height:32px;
}
#u6686_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6686.mouseDown {
}
#u6687 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u6688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
}
#u6688 {
  position:absolute;
  left:681px;
  top:327px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u6689 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  word-wrap:break-word;
}
#u6690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:120px;
}
#u6690 {
  position:absolute;
  left:551px;
  top:123px;
  width:340px;
  height:120px;
}
#u6691 {
  position:absolute;
  left:2px;
  top:52px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6692 {
  position:absolute;
  left:596px;
  top:133px;
  width:121px;
  height:20px;
}
#u6693 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6694 {
  position:absolute;
  left:566px;
  top:131px;
  width:20px;
  height:20px;
}
#u6695 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6696 {
  position:absolute;
  left:596px;
  top:159px;
  width:61px;
  height:17px;
  font-size:12px;
}
#u6697 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u6698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:53px;
}
#u6698 {
  position:absolute;
  left:596px;
  top:184px;
  width:269px;
  height:52px;
}
#u6699 {
  position:absolute;
  left:2px;
  top:16px;
  width:265px;
  word-wrap:break-word;
}
#u6700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6700 {
  position:absolute;
  left:550px;
  top:443px;
  width:338px;
  height:39px;
}
#u6701 {
  position:absolute;
  left:2px;
  top:12px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6702 {
  position:absolute;
  left:550px;
  top:493px;
  width:338px;
  height:44px;
}
#u6703 {
  position:absolute;
  left:2px;
  top:14px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6704 {
  position:absolute;
  left:569px;
  top:455px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6705 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u6706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6706 {
  position:absolute;
  left:805px;
  top:455px;
  width:43px;
  height:20px;
}
#u6707 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6708 {
  position:absolute;
  left:857px;
  top:378px;
  width:10px;
  height:17px;
}
#u6709 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6710 {
  position:absolute;
  left:569px;
  top:507px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6711 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u6712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u6712 {
  position:absolute;
  left:652px;
  top:507px;
  width:229px;
  height:27px;
  color:#CCCCCC;
}
#u6713 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  word-wrap:break-word;
}
#u6714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6714 {
  position:absolute;
  left:552px;
  top:638px;
  width:340px;
  height:50px;
}
#u6715 {
  position:absolute;
  left:2px;
  top:17px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:50px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6716 {
  position:absolute;
  left:781px;
  top:638px;
  width:111px;
  height:50px;
}
#u6717 {
  position:absolute;
  left:2px;
  top:17px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6718 {
  position:absolute;
  left:804px;
  top:653px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6719 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6720 {
  position:absolute;
  left:581px;
  top:654px;
  width:146px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6721 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u6722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6722 {
  position:absolute;
  left:564px;
  top:547px;
  width:305px;
  height:40px;
}
#u6723 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  word-wrap:break-word;
}
#u6724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6724 {
  position:absolute;
  left:569px;
  top:376px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6725 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u6726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6726 {
  position:absolute;
  left:690px;
  top:377px;
  width:159px;
  height:20px;
}
#u6727 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u6728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u6728 {
  position:absolute;
  left:568px;
  top:404px;
  width:297px;
  height:1px;
}
#u6729 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6730 {
  position:absolute;
  left:569px;
  top:413px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6731 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6732 {
  position:absolute;
  left:793px;
  top:413px;
  width:58px;
  height:20px;
}
#u6733 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u6734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6734 {
  position:absolute;
  left:569px;
  top:249px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6735 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u6736 {
  position:absolute;
  left:857px;
  top:454px;
  width:10px;
  height:17px;
}
#u6737 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6738 {
  position:absolute;
  left:560px;
  top:368px;
  width:321px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6739 {
  position:absolute;
  left:1057px;
  top:28px;
  width:340px;
  height:660px;
  opacity:0.5;
}
#u6740 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6741_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:14px;
}
#u6741 {
  position:absolute;
  left:1060px;
  top:40px;
  width:340px;
  height:14px;
}
#u6742 {
  position:absolute;
  left:2px;
  top:-1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u6743 {
  position:absolute;
  left:1203px;
  top:89px;
  width:50px;
  height:20px;
  color:#F2F2F2;
}
#u6744 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u6745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6745 {
  position:absolute;
  left:1060px;
  top:69px;
  width:340px;
  height:36px;
}
#u6746 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u6747 {
  position:absolute;
  left:1074px;
  top:77px;
  width:11px;
  height:20px;
}
#u6748 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6749 {
  position:absolute;
  left:1197px;
  top:79px;
  width:43px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6750 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u6751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:53px;
}
#u6751 {
  position:absolute;
  left:1060px;
  top:115px;
  width:340px;
  height:53px;
}
#u6752 {
  position:absolute;
  left:2px;
  top:18px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6753 {
  position:absolute;
  left:1104px;
  top:133px;
  width:121px;
  height:20px;
}
#u6754 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u6755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6755 {
  position:absolute;
  left:1074px;
  top:131px;
  width:20px;
  height:20px;
}
#u6756 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6758 {
  position:absolute;
  left:1083px;
  top:184px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6759 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u6760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6760 {
  position:absolute;
  left:1058px;
  top:213px;
  width:338px;
  height:79px;
}
#u6761 {
  position:absolute;
  left:2px;
  top:32px;
  width:334px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:2px;
}
#u6762 {
  position:absolute;
  left:1060px;
  top:252px;
  width:329px;
  height:1px;
}
#u6763 {
  position:absolute;
  left:2px;
  top:-8px;
  width:325px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u6764 {
  position:absolute;
  left:1112px;
  top:217px;
  width:33px;
  height:30px;
}
#u6765 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6766 {
  position:absolute;
  left:1085px;
  top:224px;
  width:155px;
  height:16px;
}
#u6767 {
  position:absolute;
  left:16px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u6766_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6768 {
  position:absolute;
  left:1085px;
  top:263px;
  width:155px;
  height:16px;
}
#u6769 {
  position:absolute;
  left:16px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u6768_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6770 {
  position:absolute;
  left:1121px;
  top:261px;
  width:21px;
  height:21px;
}
#u6771 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6772 {
  position:absolute;
  left:1074px;
  top:598px;
  width:302px;
  height:40px;
}
#u6773 {
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6774 {
  position:absolute;
  left:1153px;
  top:607px;
  width:114px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u6775 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u6776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u6776 {
  position:absolute;
  left:1184px;
  top:302px;
  width:212px;
  height:17px;
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u6777 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u6778_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u6778 {
  position:absolute;
  left:383px;
  top:158px;
  width:20px;
  height:20px;
}
#u6779 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780 {
  position:absolute;
  left:403px;
  top:168px;
  width:0px;
  height:0px;
}
#u6780_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u6780_seg1 {
  position:absolute;
  left:73px;
  top:-4px;
  width:8px;
  height:140px;
}
#u6780_seg2 {
  position:absolute;
  left:73px;
  top:128px;
  width:74px;
  height:8px;
}
#u6780_seg3 {
  position:absolute;
  left:134px;
  top:122px;
  width:20px;
  height:20px;
}
#u6781 {
  position:absolute;
  left:27px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6782 {
  position:absolute;
  left:1332px;
  top:133px;
  width:23px;
  height:20px;
}
#u6783 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u6784_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u6784 {
  position:absolute;
  left:892px;
  top:655px;
  width:20px;
  height:20px;
}
#u6785 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786 {
  position:absolute;
  left:912px;
  top:665px;
  width:0px;
  height:0px;
}
#u6786_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u6786_seg1 {
  position:absolute;
  left:44px;
  top:-549px;
  width:8px;
  height:553px;
}
#u6786_seg2 {
  position:absolute;
  left:44px;
  top:-549px;
  width:104px;
  height:8px;
}
#u6786_seg3 {
  position:absolute;
  left:135px;
  top:-555px;
  width:20px;
  height:20px;
}
#u6787 {
  position:absolute;
  left:-2px;
  top:-306px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:70px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6788 {
  position:absolute;
  left:39px;
  top:730px;
  width:348px;
  height:70px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6789 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u6790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u6790 {
  position:absolute;
  left:891px;
  top:377px;
  width:129px;
  height:40px;
  color:#FF0000;
}
#u6791 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u6792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:660px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6792 {
  position:absolute;
  left:39px;
  top:28px;
  width:340px;
  height:660px;
  opacity:0.5;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6793 {
  position:absolute;
  left:2px;
  top:322px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:14px;
}
#u6794 {
  position:absolute;
  left:40px;
  top:30px;
  width:340px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6795 {
  position:absolute;
  left:2px;
  top:-1px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6796 {
  position:absolute;
  left:183px;
  top:79px;
  width:50px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
}
#u6797 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u6798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:36px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6798 {
  position:absolute;
  left:40px;
  top:59px;
  width:340px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6799 {
  position:absolute;
  left:2px;
  top:10px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:20px;
}
#u6800 {
  position:absolute;
  left:54px;
  top:67px;
  width:11px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6801 {
  position:absolute;
  left:2px;
  top:2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6802 {
  position:absolute;
  left:136px;
  top:69px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6803 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u6804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:153px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:16px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6804 {
  position:absolute;
  left:58px;
  top:113px;
  width:305px;
  height:153px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6805 {
  position:absolute;
  left:2px;
  top:68px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6807 {
  position:absolute;
  left:79px;
  top:146px;
  width:50px;
  height:50px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6808 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:40px;
}
#u6809 {
  position:absolute;
  left:82px;
  top:152px;
  width:43px;
  height:40px;
  -webkit-transform:rotate(7deg);
  -moz-transform:rotate(7deg);
  -ms-transform:rotate(7deg);
  transform:rotate(7deg);
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6810 {
  position:absolute;
  left:2px;
  top:12px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u6811 {
  position:absolute;
  left:94px;
  top:183px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Bold Oblique', '微软雅黑';
  font-weight:700;
  font-style:oblique;
  font-size:9px;
}
#u6812 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  word-wrap:break-word;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6813 {
  position:absolute;
  left:146px;
  top:147px;
  width:50px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u6814 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u6815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6815 {
  position:absolute;
  left:140px;
  top:176px;
  width:53px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6816 {
  position:absolute;
  left:2px;
  top:2px;
  width:49px;
  word-wrap:break-word;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-right:0px;
  border-radius:16px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6817 {
  position:absolute;
  left:241px;
  top:149px;
  width:121px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6818 {
  position:absolute;
  left:2px;
  top:12px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6819 {
  position:absolute;
  left:289px;
  top:152px;
  width:66px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6820 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6821 {
  position:absolute;
  left:260px;
  top:170px;
  width:96px;
  height:15px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u6822 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6823 {
  position:absolute;
  left:289px;
  top:214px;
  width:66px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
}
#u6824 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:271px;
}
#u6825 {
  position:absolute;
  left:54px;
  top:396px;
  width:312px;
  height:270px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6826 {
  position:absolute;
  left:2px;
  top:116px;
  width:308px;
  word-wrap:break-word;
}
#u6827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u6827 {
  position:absolute;
  left:290px;
  top:239px;
  width:66px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u6828 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6829 {
  position:absolute;
  left:64px;
  top:329px;
  width:68px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u6830 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6831 {
  position:absolute;
  left:146px;
  top:306px;
  width:163px;
  height:70px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6832 {
  position:absolute;
  left:2px;
  top:27px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6833 {
  position:absolute;
  left:219px;
  top:329px;
  width:34px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u6834 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u6835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6835 {
  position:absolute;
  left:152px;
  top:316px;
  width:51px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6836 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u6837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6837 {
  position:absolute;
  left:152px;
  top:360px;
  width:96px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6838 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u6839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:72px;
}
#u6839 {
  position:absolute;
  left:278px;
  top:305px;
  width:1px;
  height:71px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6840 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6841 {
  position:absolute;
  left:289px;
  top:312px;
  width:11px;
  height:64px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  white-space:nowrap;
}
#u6843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:110px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6843 {
  position:absolute;
  left:550px;
  top:730px;
  width:348px;
  height:110px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6844 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  word-wrap:break-word;
}
#u6845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:226px;
}
#u6845 {
  position:absolute;
  left:548px;
  top:879px;
  width:343px;
  height:226px;
}
#u6846 {
  position:absolute;
  left:2px;
  top:105px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6847_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:30px;
  height:30px;
}
#u6847 {
  position:absolute;
  left:300px;
  top:334px;
  width:20px;
  height:20px;
}
#u6848 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
