body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:768px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.0392156862745098);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1076 {
  position:absolute;
  left:25px;
  top:9px;
  width:304px;
  height:35px;
  text-align:left;
}
#u1077 {
  position:absolute;
  left:2px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:229px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:25px;
  top:38px;
  width:743px;
  height:229px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:42px;
  width:739px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:1047px;
}
#u1080 {
  position:absolute;
  left:102px;
  top:277px;
  width:599px;
  height:1047px;
}
#u1081 {
  position:absolute;
  left:2px;
  top:516px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
