body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:839px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:808px;
  height:542px;
}
#u3458 {
  position:absolute;
  left:31px;
  top:67px;
  width:808px;
  height:542px;
}
#u3459 {
  position:absolute;
  left:2px;
  top:263px;
  width:804px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3460 {
  position:absolute;
  left:326px;
  top:637px;
  width:320px;
  height:117px;
  font-size:14px;
  text-align:left;
}
#u3461 {
  position:absolute;
  left:2px;
  top:34px;
  width:316px;
  word-wrap:break-word;
}
#u3462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:56px;
}
#u3462 {
  position:absolute;
  left:160px;
  top:360px;
  width:135px;
  height:56px;
}
#u3463 {
  position:absolute;
  left:2px;
  top:20px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3464 {
  position:absolute;
  left:160px;
  top:375px;
  width:66px;
  height:23px;
  font-size:11px;
}
#u3465 {
  position:absolute;
  left:2px;
  top:4px;
  width:62px;
  word-wrap:break-word;
}
#u3466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3466 {
  position:absolute;
  left:220px;
  top:375px;
  width:77px;
  height:23px;
  font-size:11px;
}
#u3467 {
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u3468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u3468 {
  position:absolute;
  left:295px;
  top:375px;
  width:1px;
  height:23px;
}
#u3469 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u3470 {
  position:absolute;
  left:225px;
  top:375px;
  width:1px;
  height:23px;
}
#u3471 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:24px;
}
#u3472 {
  position:absolute;
  left:160px;
  top:375px;
  width:1px;
  height:23px;
}
#u3473 {
  position:absolute;
  left:2px;
  top:4px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
