body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3684 {
  position:absolute;
  left:102px;
  top:71px;
  width:320px;
  height:569px;
}
#u3685 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:88px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3686 {
  position:absolute;
  left:502px;
  top:286px;
  width:320px;
  height:88px;
  font-size:14px;
  text-align:left;
}
#u3687 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  word-wrap:break-word;
}
#u3688 {
  position:absolute;
  left:327px;
  top:331px;
  width:0px;
  height:0px;
}
#u3688_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:179px;
  height:8px;
}
#u3688_seg1 {
  position:absolute;
  left:161px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3689 {
  position:absolute;
  left:38px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
