body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1215px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u900 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u901 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:31px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u903 {
  position:absolute;
  left:414px;
  top:8px;
  width:137px;
  height:31px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u904 {
  position:absolute;
  left:10px;
  top:5px;
  width:117px;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:27px;
}
#u905 {
  position:absolute;
  left:414px;
  top:52px;
  width:359px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u906 {
  position:absolute;
  left:2px;
  top:4px;
  width:355px;
  word-wrap:break-word;
}
#u907_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u907 {
  position:absolute;
  left:24px;
  top:14px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u908 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909 {
  position:absolute;
  left:42px;
  top:24px;
  width:0px;
  height:0px;
}
#u909_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:376px;
  height:8px;
}
#u909_seg1 {
  position:absolute;
  left:359px;
  top:-10px;
  width:20px;
  height:20px;
}
#u910 {
  position:absolute;
  left:136px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:38px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:414px;
  top:93px;
  width:137px;
  height:38px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u913 {
  position:absolute;
  left:10px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:141px;
}
#u914 {
  position:absolute;
  left:414px;
  top:138px;
  width:359px;
  height:140px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u915 {
  position:absolute;
  left:2px;
  top:4px;
  width:355px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u916 {
  position:absolute;
  left:160px;
  top:66px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u917 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918 {
  position:absolute;
  left:178px;
  top:76px;
  width:0px;
  height:0px;
}
#u918_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:226px;
  height:8px;
}
#u918_seg1 {
  position:absolute;
  left:218px;
  top:-4px;
  width:8px;
  height:44px;
}
#u918_seg2 {
  position:absolute;
  left:218px;
  top:32px;
  width:18px;
  height:8px;
}
#u918_seg3 {
  position:absolute;
  left:223px;
  top:26px;
  width:20px;
  height:20px;
}
#u919 {
  position:absolute;
  left:86px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u921 {
  position:absolute;
  left:414px;
  top:288px;
  width:61px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u922 {
  position:absolute;
  left:10px;
  top:8px;
  width:41px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:102px;
}
#u923 {
  position:absolute;
  left:414px;
  top:334px;
  width:359px;
  height:101px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u924 {
  position:absolute;
  left:2px;
  top:3px;
  width:355px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u925 {
  position:absolute;
  left:179px;
  top:126px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u926 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927 {
  position:absolute;
  left:197px;
  top:136px;
  width:0px;
  height:0px;
}
#u927_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:207px;
  height:8px;
}
#u927_seg1 {
  position:absolute;
  left:199px;
  top:-4px;
  width:8px;
  height:178px;
}
#u927_seg2 {
  position:absolute;
  left:199px;
  top:166px;
  width:18px;
  height:8px;
}
#u927_seg3 {
  position:absolute;
  left:204px;
  top:160px;
  width:20px;
  height:20px;
}
#u928 {
  position:absolute;
  left:144px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:36px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u930 {
  position:absolute;
  left:414px;
  top:444px;
  width:137px;
  height:36px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:10px;
  top:8px;
  width:117px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:169px;
}
#u932 {
  position:absolute;
  left:414px;
  top:487px;
  width:359px;
  height:168px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u933 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:28px;
  height:29px;
}
#u934 {
  position:absolute;
  left:179px;
  top:223px;
  width:18px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u935 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936 {
  position:absolute;
  left:197px;
  top:233px;
  width:0px;
  height:0px;
}
#u936_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:197px;
  height:8px;
}
#u936_seg1 {
  position:absolute;
  left:189px;
  top:-4px;
  width:8px;
  height:237px;
}
#u936_seg2 {
  position:absolute;
  left:189px;
  top:225px;
  width:28px;
  height:8px;
}
#u936_seg3 {
  position:absolute;
  left:204px;
  top:219px;
  width:20px;
  height:20px;
}
#u937 {
  position:absolute;
  left:143px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u938 {
  position:absolute;
  left:840px;
  top:0px;
  width:375px;
  height:667px;
}
#u939 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:359px;
  background:inherit;
  background-color:rgba(253, 253, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u940 {
  position:absolute;
  left:840px;
  top:59px;
  width:375px;
  height:359px;
}
#u941 {
  position:absolute;
  left:2px;
  top:172px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
