body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1578px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:354px;
}
#u2493 {
  position:absolute;
  left:163px;
  top:22px;
  width:320px;
  height:354px;
}
#u2494 {
  position:absolute;
  left:2px;
  top:169px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:14px;
}
#u2495 {
  position:absolute;
  left:163px;
  top:376px;
  width:320px;
  height:14px;
}
#u2496 {
  position:absolute;
  left:2px;
  top:-1px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:35px;
}
#u2497 {
  position:absolute;
  left:163px;
  top:390px;
  width:320px;
  height:35px;
}
#u2498 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:166px;
}
#u2499 {
  position:absolute;
  left:163px;
  top:444px;
  width:320px;
  height:166px;
}
#u2500 {
  position:absolute;
  left:2px;
  top:75px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:257px;
}
#u2501 {
  position:absolute;
  left:163px;
  top:543px;
  width:320px;
  height:257px;
}
#u2502 {
  position:absolute;
  left:2px;
  top:120px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:242px;
}
#u2503 {
  position:absolute;
  left:850px;
  top:22px;
  width:320px;
  height:242px;
}
#u2504 {
  position:absolute;
  left:2px;
  top:113px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:327px;
}
#u2505 {
  position:absolute;
  left:850px;
  top:302px;
  width:320px;
  height:327px;
}
#u2506 {
  position:absolute;
  left:2px;
  top:156px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:82px;
}
#u2507 {
  position:absolute;
  left:850px;
  top:629px;
  width:320px;
  height:82px;
}
#u2508 {
  position:absolute;
  left:2px;
  top:33px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2509 {
  position:absolute;
  left:850px;
  top:264px;
  width:320px;
  height:37px;
}
#u2510 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2511 {
  position:absolute;
  left:862px;
  top:274px;
  width:53px;
  height:19px;
  font-size:13px;
}
#u2512 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u2513 {
  position:absolute;
  left:1134px;
  top:267px;
  width:29px;
  height:26px;
}
#u2514 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2515_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:50px;
}
#u2515 {
  position:absolute;
  left:842px;
  top:257px;
  width:342px;
  height:50px;
}
#u2516 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:79px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u2517 {
  position:absolute;
  left:1258px;
  top:243px;
  width:320px;
  height:79px;
  font-size:14px;
  text-align:left;
}
#u2518 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  word-wrap:break-word;
}
#u2519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u2519 {
  position:absolute;
  left:163px;
  top:425px;
  width:320px;
  height:19px;
}
#u2520 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2521 {
  position:absolute;
  left:188px;
  top:427px;
  width:99px;
  height:17px;
  font-size:12px;
}
#u2522 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:25px;
}
#u2523 {
  position:absolute;
  left:152px;
  top:422px;
  width:342px;
  height:25px;
}
#u2524 {
  position:absolute;
  left:2px;
  top:4px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u2525 {
  position:absolute;
  left:520px;
  top:335px;
  width:258px;
  height:77px;
  font-size:14px;
  text-align:left;
}
#u2526 {
  position:absolute;
  left:2px;
  top:22px;
  width:254px;
  word-wrap:break-word;
}
