body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:384px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u3734 {
  position:absolute;
  left:64px;
  top:10px;
  width:320px;
  height:569px;
}
#u3735 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:85px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3736 {
  position:absolute;
  left:64px;
  top:606px;
  width:320px;
  height:85px;
  font-size:14px;
  text-align:left;
}
#u3737 {
  position:absolute;
  left:2px;
  top:26px;
  width:316px;
  word-wrap:break-word;
}
#u3738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3738 {
  position:absolute;
  left:165px;
  top:170px;
  width:116px;
  height:55px;
}
#u3739 {
  position:absolute;
  left:2px;
  top:20px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
