body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1173px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:685px;
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:685px;
}
#u1056 {
  position:absolute;
  left:2px;
  top:334px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1057 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:26px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(46, 128, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:171px;
  top:34px;
  width:71px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:734px;
  height:236px;
}
#u1061 {
  position:absolute;
  left:440px;
  top:175px;
  width:733px;
  height:235px;
  text-align:left;
}
#u1062 {
  position:absolute;
  left:2px;
  top:2px;
  width:729px;
  word-wrap:break-word;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1063 {
  position:absolute;
  left:440px;
  top:139px;
  width:152px;
  height:26px;
  color:#FFFFFF;
}
#u1064 {
  position:absolute;
  left:10px;
  top:5px;
  width:132px;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u1065 {
  position:absolute;
  left:146px;
  top:652px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1067 {
  position:absolute;
  left:6px;
  top:666px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
