body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1010px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3337_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u3337 {
  position:absolute;
  left:30px;
  top:47px;
  width:980px;
  height:660px;
}
#u3338 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3339 {
  position:absolute;
  left:30px;
  top:717px;
  width:320px;
  height:117px;
  font-size:14px;
  text-align:left;
}
#u3340 {
  position:absolute;
  left:2px;
  top:10px;
  width:316px;
  word-wrap:break-word;
}
#u3341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:17px;
}
#u3341 {
  position:absolute;
  left:202px;
  top:757px;
  width:27px;
  height:17px;
}
#u3342 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:60px;
}
#u3343 {
  position:absolute;
  left:260px;
  top:287px;
  width:74px;
  height:60px;
}
#u3344 {
  position:absolute;
  left:2px;
  top:22px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
