body {
  margin:0px;
  background-color:rgba(188, 188, 188, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:723px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:723px;
}
#u963 {
  position:absolute;
  left:2px;
  top:354px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u964 {
  position:absolute;
  left:440px;
  top:14px;
  width:51px;
  height:26px;
  color:#FFFFFF;
}
#u965 {
  position:absolute;
  left:10px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:23px;
}
#u966 {
  position:absolute;
  left:440px;
  top:52px;
  width:600px;
  height:22px;
  text-align:left;
}
#u967 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u968 {
  position:absolute;
  left:440px;
  top:462px;
  width:60px;
  height:26px;
  color:#FFFFFF;
}
#u969 {
  position:absolute;
  left:10px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:197px;
}
#u970 {
  position:absolute;
  left:440px;
  top:498px;
  width:600px;
  height:196px;
  text-align:left;
}
#u971 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u972 {
  position:absolute;
  left:440px;
  top:704px;
  width:60px;
  height:26px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:10px;
  top:5px;
  width:40px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:193px;
}
#u974 {
  position:absolute;
  left:440px;
  top:740px;
  width:600px;
  height:192px;
  text-align:left;
}
#u975 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:440px;
  top:942px;
  width:111px;
  height:26px;
  color:#FFFFFF;
}
#u977 {
  position:absolute;
  left:10px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:46px;
}
#u978 {
  position:absolute;
  left:440px;
  top:981px;
  width:325px;
  height:45px;
  text-align:left;
}
#u979 {
  position:absolute;
  left:2px;
  top:2px;
  width:321px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u980 {
  position:absolute;
  left:440px;
  top:81px;
  width:51px;
  height:26px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:10px;
  top:5px;
  width:31px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:336px;
}
#u982 {
  position:absolute;
  left:440px;
  top:117px;
  width:600px;
  height:335px;
  text-align:left;
}
#u983 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u984 {
  position:absolute;
  left:440px;
  top:1036px;
  width:111px;
  height:26px;
  color:#FFFFFF;
}
#u985 {
  position:absolute;
  left:10px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:237px;
}
#u986 {
  position:absolute;
  left:440px;
  top:1075px;
  width:600px;
  height:236px;
  text-align:left;
}
#u987 {
  position:absolute;
  left:2px;
  top:2px;
  width:596px;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:201px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u990 {
  position:absolute;
  left:1083px;
  top:1075px;
  width:272px;
  height:201px;
}
#u991 {
  position:absolute;
  left:2px;
  top:92px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u992 {
  position:absolute;
  left:1093px;
  top:1168px;
  width:253px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:2px;
}
#u994 {
  position:absolute;
  left:1083px;
  top:1220px;
  width:272px;
  height:1px;
}
#u995 {
  position:absolute;
  left:2px;
  top:-8px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:57px;
}
#u996 {
  position:absolute;
  left:1219px;
  top:1220px;
  width:1px;
  height:56px;
}
#u997 {
  position:absolute;
  left:2px;
  top:20px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u998 {
  position:absolute;
  left:1111px;
  top:1231px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
  text-align:center;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:center;
}
#u1000 {
  position:absolute;
  left:1236px;
  top:1229px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FF9900;
  text-align:center;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:46px;
}
#u1002 {
  position:absolute;
  left:1181px;
  top:1106px;
  width:77px;
  height:45px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:14px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
