body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:734px;
}
#u1117 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:734px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:359px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:26px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(46, 120, 175, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1121 {
  position:absolute;
  left:147px;
  top:34px;
  width:119px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:579px;
}
#u1123 {
  position:absolute;
  left:440px;
  top:175px;
  width:878px;
  height:578px;
  text-align:left;
}
#u1124 {
  position:absolute;
  left:2px;
  top:2px;
  width:874px;
  word-wrap:break-word;
}
#u1125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1125 {
  position:absolute;
  left:440px;
  top:139px;
  width:168px;
  height:26px;
  color:#FFFFFF;
}
#u1126 {
  position:absolute;
  left:10px;
  top:5px;
  width:148px;
  word-wrap:break-word;
}
#u1127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u1127 {
  position:absolute;
  left:138px;
  top:699px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u1128 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1129 {
  position:absolute;
  left:4px;
  top:715px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u1130 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
