body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u907 {
  position:absolute;
  left:582px;
  top:1364px;
  width:1px;
  height:16px;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u909 {
  position:absolute;
  left:582px;
  top:1587px;
  width:1px;
  height:16px;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u912 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 27, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u913 {
  position:absolute;
  left:153px;
  top:30px;
  width:125px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:246px;
}
#u915 {
  position:absolute;
  left:0px;
  top:63px;
  width:413px;
  height:245px;
}
#u916 {
  position:absolute;
  left:2px;
  top:113px;
  width:409px;
  word-wrap:break-word;
}
#u917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u917 {
  position:absolute;
  left:142px;
  top:318px;
  width:127px;
  height:30px;
}
#u918 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F88848;
}
#u919 {
  position:absolute;
  left:11px;
  top:322px;
  width:84px;
  height:27px;
  font-size:20px;
  color:#F88848;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u921 {
  position:absolute;
  left:0px;
  top:366px;
  width:413px;
  height:117px;
}
#u922 {
  position:absolute;
  left:2px;
  top:50px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:41px;
}
#u923 {
  position:absolute;
  left:-1px;
  top:366px;
  width:413px;
  height:41px;
}
#u924 {
  position:absolute;
  left:2px;
  top:12px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u925 {
  position:absolute;
  left:52px;
  top:426px;
  width:326px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#31BFCF;
}
#u927 {
  position:absolute;
  left:198px;
  top:699px;
  width:87px;
  height:24px;
  font-size:18px;
  color:#31BFCF;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:515px;
}
#u929 {
  position:absolute;
  left:440px;
  top:175px;
  width:684px;
  height:514px;
  text-align:left;
}
#u930 {
  position:absolute;
  left:2px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:440px;
  top:139px;
  width:120px;
  height:26px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:10px;
  top:5px;
  width:100px;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:220px;
}
#u933 {
  position:absolute;
  left:0px;
  top:470px;
  width:412px;
  height:219px;
}
#u934 {
  position:absolute;
  left:2px;
  top:100px;
  width:408px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:12px;
}
#u935 {
  position:absolute;
  left:0px;
  top:458px;
  width:412px;
  height:12px;
}
#u936 {
  position:absolute;
  left:2px;
  top:-2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u937 {
  position:absolute;
  left:138px;
  top:699px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u939 {
  position:absolute;
  left:4px;
  top:715px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
