body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u655 {
  position:absolute;
  left:77px;
  top:726px;
  width:980px;
  height:660px;
}
#u656 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:135px;
}
#u657 {
  position:absolute;
  left:77px;
  top:726px;
  width:980px;
  height:135px;
}
#u658 {
  position:absolute;
  left:2px;
  top:60px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:right;
}
#u659 {
  position:absolute;
  left:625px;
  top:870px;
  width:101px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:right;
}
#u660 {
  position:absolute;
  left:2px;
  top:-1px;
  width:97px;
  word-wrap:break-word;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:32px;
}
#u661 {
  position:absolute;
  left:472px;
  top:1239px;
  width:17px;
  height:32px;
}
#u662 {
  position:absolute;
  left:2px;
  top:8px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:489px;
  top:1237px;
  width:339px;
  height:32px;
}
#u664 {
  position:absolute;
  left:2px;
  top:8px;
  width:335px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:135px;
}
#u665 {
  position:absolute;
  left:77px;
  top:726px;
  width:980px;
  height:135px;
}
#u666 {
  position:absolute;
  left:2px;
  top:60px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
  background:inherit;
  background-color:rgba(253, 253, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:right;
}
#u667 {
  position:absolute;
  left:625px;
  top:870px;
  width:101px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  text-align:right;
}
#u668 {
  position:absolute;
  left:2px;
  top:-1px;
  width:97px;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:35px;
}
#u669 {
  position:absolute;
  left:541px;
  top:1237px;
  width:301px;
  height:35px;
}
#u670 {
  position:absolute;
  left:2px;
  top:10px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:152px;
}
#u671 {
  position:absolute;
  left:77px;
  top:1234px;
  width:980px;
  height:152px;
}
#u672 {
  position:absolute;
  left:2px;
  top:68px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:31px;
}
#u673 {
  position:absolute;
  left:206px;
  top:1274px;
  width:140px;
  height:31px;
}
#u674 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:31px;
}
#u675 {
  position:absolute;
  left:341px;
  top:1274px;
  width:77px;
  height:31px;
}
#u676 {
  position:absolute;
  left:2px;
  top:8px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:418px;
  top:1274px;
  width:194px;
  height:31px;
}
#u678 {
  position:absolute;
  left:2px;
  top:8px;
  width:190px;
  visibility:hidden;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u679 {
  position:absolute;
  left:418px;
  top:1279px;
  width:66px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:13px;
}
#u680 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u681 {
  position:absolute;
  left:484px;
  top:1277px;
  width:72px;
  height:24px;
  font-size:12px;
  color:#A1A1A1;
}
#u682 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u683 {
  position:absolute;
  left:640px;
  top:1271px;
  width:125px;
  height:35px;
}
#u684 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:33px;
}
#u685 {
  position:absolute;
  left:684px;
  top:1272px;
  width:172px;
  height:33px;
}
#u686 {
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:33px;
}
#u687 {
  position:absolute;
  left:564px;
  top:1239px;
  width:298px;
  height:33px;
}
#u688 {
  position:absolute;
  left:2px;
  top:8px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:541px;
  top:1239px;
  width:24px;
  height:25px;
}
#u690 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:13px;
}
#u691 {
  position:absolute;
  left:840px;
  top:1280px;
  width:9px;
  height:13px;
}
#u692 {
  position:absolute;
  left:2px;
  top:-2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#A1A1A1;
}
#u693 {
  position:absolute;
  left:818px;
  top:1282px;
  width:31px;
  height:13px;
  font-size:12px;
  color:#A1A1A1;
}
#u694 {
  position:absolute;
  left:2px;
  top:-1px;
  width:27px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:22px;
}
#u695 {
  position:absolute;
  left:145px;
  top:868px;
  width:247px;
  height:22px;
}
#u696 {
  position:absolute;
  left:2px;
  top:3px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:32px;
}
#u697 {
  position:absolute;
  left:575px;
  top:898px;
  width:461px;
  height:32px;
}
#u698 {
  position:absolute;
  left:2px;
  top:8px;
  width:457px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:33px;
}
#u699 {
  position:absolute;
  left:206px;
  top:1318px;
  width:840px;
  height:33px;
}
#u700 {
  position:absolute;
  left:2px;
  top:8px;
  width:836px;
  visibility:hidden;
  word-wrap:break-word;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:27px;
}
#u701 {
  position:absolute;
  left:774px;
  top:1276px;
  width:17px;
  height:27px;
}
#u702 {
  position:absolute;
  left:2px;
  top:6px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
}
#u703 {
  position:absolute;
  left:716px;
  top:1276px;
  width:72px;
  height:27px;
}
#u704 {
  position:absolute;
  left:2px;
  top:6px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u705 {
  position:absolute;
  left:1092px;
  top:726px;
  width:348px;
  height:254px;
  font-size:14px;
  text-align:left;
}
#u706 {
  position:absolute;
  left:2px;
  top:23px;
  width:344px;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u708 {
  position:absolute;
  left:800px;
  top:264px;
  width:70px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u709 {
  position:absolute;
  left:2px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u710 {
  position:absolute;
  left:800px;
  top:285px;
  width:70px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u711 {
  position:absolute;
  left:2px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u712 {
  position:absolute;
  left:800px;
  top:308px;
  width:70px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u713 {
  position:absolute;
  left:2px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u714 {
  position:absolute;
  left:800px;
  top:329px;
  width:43px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u715 {
  position:absolute;
  left:2px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u716 {
  position:absolute;
  left:1001px;
  top:329px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u717 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u718 {
  position:absolute;
  left:904px;
  top:264px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u719 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u720 {
  position:absolute;
  left:904px;
  top:287px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u721 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u722 {
  position:absolute;
  left:904px;
  top:242px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u723 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u724 {
  position:absolute;
  left:953px;
  top:329px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u725 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u726 {
  position:absolute;
  left:905px;
  top:329px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u727 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u728 {
  position:absolute;
  left:1001px;
  top:242px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#C9C9C9;
  text-align:left;
}
#u729 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:64px;
}
#u730 {
  position:absolute;
  left:847px;
  top:457px;
  width:94px;
  height:64px;
}
#u731 {
  position:absolute;
  left:2px;
  top:24px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u732 {
  position:absolute;
  left:904px;
  top:458px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u733 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u734 {
  position:absolute;
  left:904px;
  top:481px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u735 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u736 {
  position:absolute;
  left:904px;
  top:504px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u737 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u738 {
  position:absolute;
  left:808px;
  top:458px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u739 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u740 {
  position:absolute;
  left:808px;
  top:481px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u741 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u742 {
  position:absolute;
  left:808px;
  top:504px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u743 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u744 {
  position:absolute;
  left:520px;
  top:458px;
  width:37px;
  height:16px;
  font-size:12px;
  color:#000000;
  text-align:right;
}
#u745 {
  position:absolute;
  left:2px;
  top:0px;
  width:33px;
  word-wrap:break-word;
}
#u746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:13px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u746 {
  position:absolute;
  left:757px;
  top:437px;
  width:71px;
  height:13px;
  font-size:12px;
}
#u747 {
  position:absolute;
  left:2px;
  top:-1px;
  width:67px;
  word-wrap:break-word;
}
#u748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:29px;
}
#u748 {
  position:absolute;
  left:77px;
  top:635px;
  width:980px;
  height:29px;
}
#u749 {
  position:absolute;
  left:2px;
  top:6px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
#u750 {
  position:absolute;
  left:374px;
  top:183px;
  width:72px;
  height:21px;
}
#u751 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u752 {
  position:absolute;
  left:374px;
  top:185px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u754 {
  position:absolute;
  left:77px;
  top:4px;
  width:980px;
  height:660px;
}
#u755 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:525px;
}
#u756 {
  position:absolute;
  left:77px;
  top:139px;
  width:980px;
  height:525px;
}
#u757 {
  position:absolute;
  left:2px;
  top:254px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u758 {
  position:absolute;
  left:261px;
  top:148px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
  background:inherit;
  background-color:rgba(222, 236, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u760 {
  position:absolute;
  left:204px;
  top:118px;
  width:44px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
#u761 {
  position:absolute;
  left:2px;
  top:0px;
  width:40px;
  word-wrap:break-word;
}
#u762 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:556px;
  height:177px;
}
#u763 {
  position:absolute;
  left:125px;
  top:261px;
  width:556px;
  height:177px;
}
#u764 {
  position:absolute;
  left:2px;
  top:80px;
  width:552px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:15px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:272px;
  top:409px;
  width:51px;
  height:15px;
}
#u766 {
  position:absolute;
  left:2px;
  top:0px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u767 {
  position:absolute;
  left:272px;
  top:410px;
  width:73px;
  height:17px;
  font-size:12px;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u769 {
  position:absolute;
  left:559px;
  top:315px;
  width:15px;
  height:15px;
}
#u770 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u771 {
  position:absolute;
  left:567px;
  top:330px;
  width:0px;
  height:0px;
}
#u771_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:400px;
}
#u771_seg1 {
  position:absolute;
  left:-10px;
  top:382px;
  width:20px;
  height:21px;
}
#u772 {
  position:absolute;
  left:-50px;
  top:190px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u773 {
  position:absolute;
  left:573px;
  top:666px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
}
#u775 {
  position:absolute;
  left:576px;
  top:907px;
  width:176px;
  height:22px;
}
#u776 {
  position:absolute;
  left:2px;
  top:3px;
  width:172px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0.647058823529412);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:576px;
  top:907px;
  width:189px;
  height:22px;
}
#u778 {
  position:absolute;
  left:2px;
  top:3px;
  width:185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u779 {
  position:absolute;
  left:420px;
  top:374px;
  width:79px;
  height:27px;
}
#u780 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u781 {
  position:absolute;
  left:340px;
  top:374px;
  width:79px;
  height:27px;
}
#u782 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
}
#u783 {
  position:absolute;
  left:223px;
  top:374px;
  width:107px;
  height:27px;
}
#u784 {
  position:absolute;
  left:2px;
  top:6px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u785 {
  position:absolute;
  left:133px;
  top:374px;
  width:71px;
  height:27px;
}
#u786 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
