body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:865px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7123 {
  position:absolute;
  left:60px;
  top:60px;
  width:540px;
  height:50px;
}
#u7124 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  word-wrap:break-word;
}
#u7125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:604px;
}
#u7125 {
  position:absolute;
  left:80px;
  top:156px;
  width:340px;
  height:604px;
}
#u7126 {
  position:absolute;
  left:2px;
  top:294px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:60px;
}
#u7127 {
  position:absolute;
  left:120px;
  top:423px;
  width:260px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u7128 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:27px;
}
#u7129 {
  position:absolute;
  left:120px;
  top:483px;
  width:250px;
  height:27px;
}
#u7130 {
  position:absolute;
  left:2px;
  top:6px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u7131 {
  position:absolute;
  left:223px;
  top:483px;
  width:44px;
  height:20px;
  color:#1E1E1E;
}
#u7132 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  white-space:nowrap;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7133 {
  position:absolute;
  left:535px;
  top:160px;
  width:320px;
  height:100px;
}
#u7134 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u7135_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u7135 {
  position:absolute;
  left:500px;
  top:165px;
  width:25px;
  height:25px;
}
#u7136 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
#u7137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:100px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7137 {
  position:absolute;
  left:545px;
  top:660px;
  width:320px;
  height:100px;
}
#u7138 {
  position:absolute;
  left:10px;
  top:10px;
  width:300px;
  word-wrap:break-word;
}
#u7139_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:35px;
}
#u7139 {
  position:absolute;
  left:510px;
  top:665px;
  width:25px;
  height:25px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  word-wrap:break-word;
}
