body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2002px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3586_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u3586 {
  position:absolute;
  left:1022px;
  top:51px;
  width:980px;
  height:660px;
}
#u3587 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3588 {
  position:absolute;
  left:1608px;
  top:755px;
  width:320px;
  height:89px;
  font-size:14px;
  text-align:left;
}
#u3589 {
  position:absolute;
  left:2px;
  top:28px;
  width:316px;
  word-wrap:break-word;
}
#u3590 {
  position:absolute;
  left:1771px;
  top:612px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u3590_seg0 {
  position:absolute;
  left:-7px;
  top:-4px;
  width:7px;
  height:8px;
}
#u3590_seg1 {
  position:absolute;
  left:-7px;
  top:-4px;
  width:8px;
  height:147px;
}
#u3590_seg2 {
  position:absolute;
  left:-13px;
  top:129px;
  width:20px;
  height:21px;
}
#u3591 {
  position:absolute;
  left:-53px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:660px;
}
#u3592 {
  position:absolute;
  left:7px;
  top:51px;
  width:980px;
  height:660px;
}
#u3593 {
  position:absolute;
  left:2px;
  top:322px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:25px;
}
#u3594 {
  position:absolute;
  left:382px;
  top:314px;
  width:316px;
  height:25px;
}
#u3595 {
  position:absolute;
  left:2px;
  top:4px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:102px;
}
#u3596 {
  position:absolute;
  left:272px;
  top:211px;
  width:548px;
  height:102px;
}
#u3597 {
  position:absolute;
  left:2px;
  top:43px;
  width:544px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3598_img {
  position:absolute;
  left:0px;
  top:0px;
  width:524px;
  height:208px;
}
#u3598 {
  position:absolute;
  left:279px;
  top:373px;
  width:524px;
  height:208px;
}
#u3599 {
  position:absolute;
  left:2px;
  top:96px;
  width:520px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3600_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:36px;
}
#u3600 {
  position:absolute;
  left:279px;
  top:337px;
  width:478px;
  height:36px;
}
#u3601 {
  position:absolute;
  left:2px;
  top:10px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3602_img {
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:25px;
}
#u3602 {
  position:absolute;
  left:382px;
  top:341px;
  width:316px;
  height:25px;
}
#u3603 {
  position:absolute;
  left:2px;
  top:4px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:36px;
}
#u3604 {
  position:absolute;
  left:405px;
  top:336px;
  width:478px;
  height:36px;
}
#u3605 {
  position:absolute;
  left:2px;
  top:10px;
  width:474px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3606_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3606 {
  position:absolute;
  left:405px;
  top:346px;
  width:160px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u3607 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u3608_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3608 {
  position:absolute;
  left:382px;
  top:339px;
  width:235px;
  height:25px;
}
#u3609 {
  position:absolute;
  left:2px;
  top:4px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3610_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u3610 {
  position:absolute;
  left:459px;
  top:755px;
  width:334px;
  height:89px;
  font-size:14px;
  text-align:left;
}
#u3611 {
  position:absolute;
  left:2px;
  top:12px;
  width:330px;
  word-wrap:break-word;
}
#u3612 {
  position:absolute;
  left:617px;
  top:352px;
  width:0px;
  height:0px;
  color:#FF0000;
}
#u3612_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:207px;
  height:8px;
}
#u3612_seg1 {
  position:absolute;
  left:199px;
  top:-4px;
  width:8px;
  height:396px;
}
#u3612_seg2 {
  position:absolute;
  left:5px;
  top:384px;
  width:202px;
  height:8px;
}
#u3612_seg3 {
  position:absolute;
  left:5px;
  top:384px;
  width:8px;
  height:19px;
}
#u3612_seg4 {
  position:absolute;
  left:-1px;
  top:389px;
  width:20px;
  height:21px;
}
#u3613 {
  position:absolute;
  left:153px;
  top:189px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
