body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1123px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u873 {
  position:absolute;
  left:582px;
  top:1364px;
  width:1px;
  height:16px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u875 {
  position:absolute;
  left:582px;
  top:1587px;
  width:1px;
  height:16px;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u877 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u878 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:21px;
  background:inherit;
  background-color:rgba(27, 27, 32, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u879 {
  position:absolute;
  left:160px;
  top:31px;
  width:109px;
  height:21px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:246px;
}
#u881 {
  position:absolute;
  left:0px;
  top:63px;
  width:413px;
  height:245px;
}
#u882 {
  position:absolute;
  left:2px;
  top:113px;
  width:409px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:142px;
  top:318px;
  width:127px;
  height:30px;
}
#u884 {
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#F88848;
}
#u885 {
  position:absolute;
  left:11px;
  top:322px;
  width:84px;
  height:27px;
  font-size:20px;
  color:#F88848;
}
#u886 {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:117px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u887 {
  position:absolute;
  left:0px;
  top:366px;
  width:413px;
  height:117px;
}
#u888 {
  position:absolute;
  left:2px;
  top:50px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:41px;
}
#u889 {
  position:absolute;
  left:-1px;
  top:366px;
  width:413px;
  height:41px;
}
#u890 {
  position:absolute;
  left:2px;
  top:12px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  text-align:center;
}
#u891 {
  position:absolute;
  left:52px;
  top:426px;
  width:326px;
  height:34px;
  color:#000000;
  text-align:center;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#31BFCF;
}
#u893 {
  position:absolute;
  left:198px;
  top:699px;
  width:87px;
  height:24px;
  font-size:18px;
  color:#31BFCF;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:685px;
  height:515px;
}
#u895 {
  position:absolute;
  left:440px;
  top:175px;
  width:684px;
  height:514px;
  text-align:left;
}
#u896 {
  position:absolute;
  left:2px;
  top:2px;
  width:680px;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u897 {
  position:absolute;
  left:440px;
  top:139px;
  width:59px;
  height:26px;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:10px;
  top:5px;
  width:39px;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:220px;
}
#u899 {
  position:absolute;
  left:0px;
  top:470px;
  width:412px;
  height:219px;
}
#u900 {
  position:absolute;
  left:2px;
  top:100px;
  width:408px;
  word-wrap:break-word;
}
#u901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:12px;
}
#u901 {
  position:absolute;
  left:0px;
  top:458px;
  width:412px;
  height:12px;
}
#u902 {
  position:absolute;
  left:2px;
  top:-2px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u903 {
  position:absolute;
  left:138px;
  top:699px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u905 {
  position:absolute;
  left:4px;
  top:715px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
