body {
  margin:0px;
  background-color:rgba(60, 60, 60, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1059px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u1027 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:736px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:360px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:67px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:26px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(46, 128, 179, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1031 {
  position:absolute;
  left:171px;
  top:34px;
  width:71px;
  height:20px;
  font-size:16px;
  color:#FFFFFF;
}
#u1032 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:386px;
}
#u1033 {
  position:absolute;
  left:440px;
  top:175px;
  width:619px;
  height:385px;
  text-align:left;
}
#u1034 {
  position:absolute;
  left:2px;
  top:2px;
  width:615px;
  word-wrap:break-word;
}
#u1035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:26px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FFFFFF;
}
#u1035 {
  position:absolute;
  left:440px;
  top:139px;
  width:152px;
  height:26px;
  color:#FFFFFF;
}
#u1036 {
  position:absolute;
  left:10px;
  top:5px;
  width:132px;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#31BFCF;
  text-align:right;
}
#u1037 {
  position:absolute;
  left:138px;
  top:699px;
  width:140px;
  height:20px;
  color:#31BFCF;
  text-align:right;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u1039 {
  position:absolute;
  left:4px;
  top:715px;
  width:41px;
  height:13px;
  font-size:10px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
